<div class="imm-wa__hdr">
  <div class="imm-flex">
    <div class="imm-flex-5 imm-flex">
      <div class="imm-flex-1">
        <h1 class="imm-wa__tit">
          <div class="imm-flex">
            <a class="imm-bc-item">{{ 'finances.title' | translate }}</a>
          </div>
        </h1>
      </div>
      <div class="imm-flex-2">
        <select ng-options="option.month for option in months track by option.id"
        ng-model="fill.month"
        ng-change="changeMonth()"
        ></select>
        <select ng-options="option.year for option in years track by option.id"
        ng-model="fill.year"
        ng-change="changeYear()"
        ></select>
      </div>
      <div class="imm-flex-6">
        <div class="imm-btn__right">
          <a ui-sref="app.financeNew" class="imm-btn imm-btn--round">&#43; {{ 'finances.finance' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="imm-flex" style="margin-top: 1em;">
    <div class="imm-flex-3">
      <ul class="imm-tabs" ng-init="itemTab = 1">
        <li class="imm-tabs__item" ng-click="itemTab = 1" ng-class="{'imm-tabs__item--selected' : itemTab == 1}">Gastos</li>
        <li class="imm-tabs__item" ng-click="itemTab = 2" ng-class="{'imm-tabs__item--selected' : itemTab == 2}">Gastos Programados</li>
        <li class="imm-tabs__item" ng-click="itemTab = 3" ng-class="{'imm-tabs__item--selected' : itemTab == 3}">Cobros</li>
        <li class="imm-tabs__item" ng-click="itemTab = 4" ng-class="{'imm-tabs__item--selected' : itemTab == 4}">Cobros Estimados</li>
        <li class="imm-tabs__item" ng-click="itemTab = 5" ng-class="{'imm-tabs__item--selected' : itemTab == 5}">Deudas / Creditos</li>


      </ul>
    </div>

  </div>
  <div class="imm-flex" style="margin-top: 1em;">
    <div class="imm-flex-6">
      <ul class="imm-flex ul--cash">
        <li class="imm-flex"><span>CAJA Real:</span>    <b>{{finances.realCash       | currency:" $"}}</b></li>
        <li class="imm-flex"><span>CAJA Est.:</span>    <b>{{finances.estimatedCash | currency:" $"}}</b></li>
        <li class="imm-flex"><span>SALDO Real:</span>   <b>{{finances.realBalance    | currency:" $"}}</b></li>
        <li class="imm-flex"><span>SALDO Cobros:</span> <b>{{finances.chargesBalance | currency:" $"}}</b></li>
        <li class="imm-flex"><span>TOTAL Cobros:</span> <b>{{finances.allCharges   | currency:" $"}}</b></li>
      </ul>
    </div>
  </div>
</div>

<div class="imm-wa__cnt" ng-show="itemTab == 1">
  <table>
    <thead>
      <tr>
        <th>{{ 'Fecha' }}</th>
        <th>{{ 'Descripción' }}</th>
        <th>{{ 'Concepto' }}</th>
        <th>{{ 'Monto' }}</th>
        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input class="field-filter" ng-model="filter.description"></td>
        <td><input class="field-filter" ng-model="filter.concept"></td>
        <td><input class="field-filter" ng-model="filter.amount"></td>
        <td></td>
      </tr>
      <tr ng-repeat="finance in finances.expenses | filter: filter">
        <td>{{ convToDate(finance.date) | date:'dd/MM/yyyy'}}</td>
        <td>{{finance.description}}</td>
        <td>{{finance.concept}}</td>
        <td>{{finance.currency+" "+finance.amount}}</td>
        <td>
          <a ui-sref="app.financeEdit({id: finance.id})">
            <i class="ri-edit-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><b>TOTAL:</b> </td>
        <td></td>
        <td></td>
        <td><b>{{finances.totalExpenses.totalPesos | currency:" $"}}</b></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="imm-wa__cnt" ng-show="itemTab == 2">
  <table>
    <thead>
      <tr>
        <th>{{ 'Fecha' }}</th>
        <th>{{ 'Descripción' }}</th>
        <th>{{ 'Concepto' }}</th>
        <th>{{ 'Monto' }}</th>
        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input class="field-filter" ng-model="filter.description"></td>
        <td><input class="field-filter" ng-model="filter.concept"></td>
        <td><input class="field-filter" ng-model="filter.amount"></td>
        <td></td>
      </tr>
      <tr ng-repeat="finance in finances.scheduledExpenses | filter: filter">
        <td>{{ convToDate(finance.date) | date:'dd/MM/yyyy'}}</td>
        <td>{{finance.description}}</td>
        <td>{{finance.concept}}</td>
        <td>{{finance.currency+" "+finance.amount}}</td>
        <td>
          <a ui-sref="app.financeEdit({id: finance.id})">
            <i class="ri-edit-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><b>TOTAL:</b> </td>
        <td></td>
        <td></td>
        <td><b>{{finances.totalScheduledExpenses.totalPesos | currency:" $"}}</b></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="imm-wa__cnt" ng-show="itemTab == 3">
  <table>
    <thead>
      <tr>
        <th>{{ 'Fecha' }}</th>
        <th>{{ 'Descripción' }}</th>
        <th>{{ 'Concepto' }}</th>
        <th>{{ 'Status' }}</th>
        <th>{{ 'Monto' }}</th>
        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input class="field-filter" ng-model="filter.description"></td>
        <td><input class="field-filter" ng-model="filter.concept"></td>
        <td><input class="field-filter" ng-model="filter.status"></td>
        <td><input class="field-filter" ng-model="filter.amount"></td>
        <td></td>
      </tr>
      <tr ng-repeat="finance in finances.charges | filter: filter">
        <td>{{ convToDate(finance.date) | date:'dd/MM/yyyy'}}</td>
        <td>{{finance.description}}</td>
        <td>{{finance.concept}}</td>
        <td>{{finance.status}}</td>
        <td>{{finance.currency+" "+finance.amount}}</td>
        <td>
          <a ui-sref="app.financeEdit({id: finance.id})">
            <i class="ri-edit-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><b>TOTAL:</b> </td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>{{finances.totalCharges.totalPesos | currency:" $"}}</b></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="imm-wa__cnt" ng-show="itemTab == 4">
  <table>
    <thead>
      <tr>
        <th>{{ 'Fecha' }}</th>
        <th>{{ 'Descripción' }}</th>
        <th>{{ 'Concepto' }}</th>
        <th>{{ 'Status' }}</th>
        <th>{{ 'Monto' }}</th>
        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input class="field-filter" ng-model="filter.description"></td>
        <td><input class="field-filter" ng-model="filter.concept"></td>
        <td><input class="field-filter" ng-model="filter.status"></td>
        <td><input class="field-filter" ng-model="filter.amount"></td>
        <td></td>
      </tr>
      <tr ng-repeat="finance in finances.estimatedCharges | filter: filter">
        <td>{{ convToDate(finance.date) | date:'dd/MM/yyyy'}}</td>
        <td>{{finance.description}}</td>
        <td>{{finance.concept}}</td>
        <td>{{finance.status}}</td>
        <td>{{finance.currency+" "+finance.amount}}</td>
        <td>
          <a ui-sref="app.financeEdit({id: finance.id})">
            <i class="ri-edit-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><b>TOTAL:</b> </td>
        <td></td>
        <td></td>
        <td><b>{{finances.totalEstimatedCharges.totalDolares | currency:" USD"}}</b></td>

        <td><b>{{finances.totalEstimatedCharges.totalPesos | currency:" $"}}</b></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>


<div class="imm-wa__cnt" ng-show="itemTab == 5">
  <table>
    <thead>
      <tr>
        <th>{{ 'Fecha' }}</th>
        <th>{{ 'Descripción' }}</th>
        <th>{{ 'Concepto' }}</th>
        <th>{{ 'Status' }}</th>
        <th>{{ 'Monto' }}</th>
        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input class="field-filter" ng-model="filter.description"></td>
        <td><input class="field-filter" ng-model="filter.concept"></td>
        <td><input class="field-filter" ng-model="filter.status"></td>
        <td><input class="field-filter" ng-model="filter.amount"></td>
        <td></td>
      </tr>
      <tr ng-repeat="finance in finances.debts | filter: filter">
        <td>{{ convToDate(finance.date) | date:'dd/MM/yyyy'}}</td>
        <td>{{finance.description}}</td>
        <td>{{finance.concept}}</td>
        <td>{{finance.status}}</td>
        <td>{{finance.currency+" "+finance.amount}}</td>
        <td>
          <a ui-sref="app.financeEdit({id: finance.id})">
            <i class="ri-edit-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><b>TOTAL:</b> </td>
        <td></td>
        <td></td>
        <td><b>{{finances.totalDebts.totalDolares | currency:" USD"}}</b></td>

        <td><b>{{finances.totalDebts.totalPesos | currency:" $"}}</b></td>


        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
<!-- End Bar Graph -->
