<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            <a class="imm-bc-item">{{ 'dashboard.title' | translate }}</a>
        </h1>
        <div class="imm-bc" ng-if="tracks.length">
            <a class="imm-bc-item" ng-if="userRole == 'admin' || userRole == 'developer' || userRole == 'pm'">{{ 'dashboard.current_tracks' | translate }}</a>
            <!-- <a class="imm-bc-item" ng-if="userRole == 'developer'">{{ 'dashboard.recent_activity' | translate }}</a> -->
        </div>
    </div>
</div>
<div class="imm-wa__cnt">
    <table ng-if="userRole != 'developer' && tracks.length">
        <thead>
            <tr>
                <th>{{ 'dashboard.user' | translate }}</th>
            	<th>{{ 'dashboard.project' | translate }}</th>
                <th>{{ 'dashboard.task' | translate }}</th>
                <th>{{ 'dashboard.start_time' | translate }}</th>
                <th class="imm-cstm__grid-5"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="track in tracks" ng-if="!track.endTime || track.endTime == '0000-00-00 00:00:00'">
                <td>{{track.userName}}</td>
                <td><a ng-if="userRole == 'admin' || userRole == 'pm'"  style="color: #4a90e2; text-decoration: underline" ui-sref="app.projectEdit({id: track.idProyecto})" target="_blank">{{track.projectName | truncateTail:true:30:'...'}}</a></td>
            	<td ng-if="userRole != 'admin'">{{track.projectName}}</td>
                <td>{{track.taskName}}</td>
                <td>{{track.startTime | date:'dd/MM/yyyy HH:mm' }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table ng-if="userRole == 'developer' && tracks.length">
        <thead>
            <tr>
                <th>{{ 'dashboard.project' | translate }}</th>
                <th>{{ 'dashboard.task' | translate }}</th>
                <th>{{ 'dashboard.start_time' | translate }}</th>
                <!-- <th>{{ 'dashboard.end_time' | translate }}</th>
                <th>{{ 'dashboard.duration' | translate }}</th> -->
                <th class="imm-cstm__grid-5"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="track in tracks" ng-class="{'active-task': !track.endTime || track.endTime == '0000-00-00 00:00:00'}">
                <td>{{track.projectName}}</td>
                <td>{{track.taskName}}</td>
                <td>{{track.startTime | date:'dd/MM/yyyy HH:mm' }}</td>
                <!-- <td>{{track.endTime ? track.endTime : '' | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>{{track.duration}}</td> -->
                <td></td>
            </tr>
<!--             <tr style="background-color: rgba(60, 144, 190, 0.1); font-weight: bold;">
                <td colspan="3"></td>
                <td>{{ 'dashboard.total' | translate | uppercase }}</td>
                <td>{{total}}</td>
                <td></td>
            </tr> -->
        </tbody>
    </table>
</div>
