<div class="lexart-wa__hdr lexart-flex">
    <div class="lexart-flex-5">
        <h1 class="lexart-wa__tit">
            <a class="lexart-bc-item">{{ 'dashboard.title' | translate }}</a>
        </h1>
        <div class="lexart-bc" ng-if="tracks.length">
            <a class="lexart-bc-item" ng-if="userRole == 'admin' || userRole == 'developer' || userRole == 'pm'">{{ 'dashboard.current_tracks' | translate }}</a>
            <!-- <a class="lexart-bc-item" ng-if="userRole == 'developer'">{{ 'dashboard.recent_activity' | translate }}</a> -->
        </div>
    </div>
</div>
<div class="lexart-wa__cnt">
    <section ng-show="history && history.length">
        <h1>History</h1>
        <div ng-repeat="item in history" class="history-item">
            <div class="history-item__title_container">
                <div class="history-item__title_tracked_time">
                    <span>{{item.startTimeDisplay}} - {{item.endTimeDisplay}} ({{item.timeTracked}} hrs)</span>
                </div>
                <div class="history-item__title__tabs">
                    <ul class="lexart-tabs" ng-init="itemTab = 1" style='width: 100%; margin: 0px; border-bottom:0px'>
                        <li class="lexart-tabs__item text-center" ng-click="itemTab = 1" ng-class="{'lexart-tabs__item--selected' : itemTab == 1}"><i class="ri-play-line"></i></li>
                        <li class="lexart-tabs__item text-center" ng-click="itemTab = 2" ng-class="{'lexart-tabs__item--selected' : itemTab == 2}"><i class="ri-time-line"></i></li>
                    </ul>
                </div>
            </div>
            <!-- <hr> -->
            <div class="history-item__data_container">
                <div class="history-item__duration">
                    <span class="lexart_select_conatiner_proyect">{{item.projectName}}</span>
                    <span>{{item.name}}</span>
                </div>
                
                <div class="history-item__datepicker" ng-show="itemTab == 2" moment-picker="trackDates.start" format="DD/MM/YYYY HH:mm" change='changeSelect()'>
                    <span ng-show="itemTab == 2">Desde</span>
                    <input type='text' ng-model='trackDates.start'>
                </div>
                <div class="history-item__datepicker" ng-show="itemTab == 2" moment-picker="trackDates.end" format="DD/MM/YYYY HH:mm" change='changeSelect()'>
                    <span ng-show="itemTab == 2">Hasta</span>
                    <input type='text' ng-model='trackDates.end'>
                </div>
                <div ng-show="itemTab == 1">
                    <h2>{{currentTrack.id}}</h2>
                    <a ng-if="!timerRunning" class="btn_tracker_container" ng-click="startDashboardTrack(item, true)"><i class="ri-play-line"></i></a>
                    <a ng-if="timerRunning && currentTrack.idTask == item.idTask && currentTrack.id == item.id" class="btn_tracker_container tracking" ng-click="stopTrack()"><i class="ri-pause-line"></i></a>
                </div>
                <div ng-show="itemTab == 2">
                    <a class="btn_tracker_container" ng-click="createTrackDirectly(item)"><i class="ri-save-line"></i></a>
                </div>
            </div>
        </div>

    </section>
    <br><br>
    <h1 ng-if="userRole != 'developer' && tracks.length">{{ 'dashboard.current_tracks' | translate }}</h1>
    <table ng-if="userRole != 'developer' && tracks.length">
        <thead>
            <tr>
                <th>{{ 'dashboard.user' | translate }}</th>
            	<th>{{ 'dashboard.project' | translate }}</th>
                <th>{{ 'dashboard.task' | translate }}</th>
                <th>{{ 'dashboard.start_time' | translate }}</th>
                <th class="lexart-cstm__grid-5"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="track in tracks" ng-if="!track.endTime || track.endTime == '0000-00-00 00:00:00'">
                <td>{{track.userName}}</td>
                <td><a ng-if="userRole == 'admin' || userRole == 'pm'"  style="color: #4a90e2; text-decoration: underline" ui-sref="app.projectEdit({id: track.idProyecto})" target="_blank">{{track.projectName | truncateTail:true:30:'...'}}</a></td>
            	<td ng-if="userRole != 'admin'">{{track.projectName}}</td>
                <td>{{track.taskName}}</td>
                <td>{{track.startTime | date:'dd/MM/yyyy HH:mm' }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
