<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            {{ 'CRM'}}
        </h1>
    </div>
</div>
<div class="imm-wa__cnt">
    <div class="imm-wa__full">
        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.banks">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/cuentas.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.bank' | translate }}</b>
            </a>
        </div>
        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.budgets">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/presupuestos.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.budget' | translate }}</b>
            </a>
        </div>


        <!-- <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.bills">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/presupuestos.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.bill' | translate }}</b>
            </a>
        </div> -->


        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.hoursCost">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/evolucion.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.hour-cost' | translate }}</b>
            </a>
        </div>

        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.finances">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/conceptos-gasto.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.finance' | translate }}</b>
            </a>
        </div>

         <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.sales">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/profile.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.sale' | translate }}</b>
            </a>
        </div>
        
        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.weeklyHours">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/budget-mes.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.weeklyHour' | translate }}</b>
            </a>
        </div>

        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.reports">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/evolucion.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'Reportes' }}</b>
            </a>
        </div>
</div>
