<div class="lexart-wa__hdr lexart-flex">
    <div class="lexart-flex-5">
        <h1 class="lexart-wa__tit">
            {{ 'Tareas'}}
        </h1>
    </div>
</div>
<div class="lexart-wa__cnt">
    <div class="lexart-wa__full">
        <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.tasks">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/catalogos/presupuestos.svg">
                </div>
                <b class="lexart-wa__lbl">{{ 'Tareas Manuales' }}</b>
            </a>
        </div>
        <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.tasks_automatic">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/catalogos/cuentas.svg">
                </div>
                <b class="lexart-wa__lbl">{{ 'navigation.tasks_automatic' | translate }}</b>
            </a>
        </div>
        <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.tasks_trello">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/catalogos/budget-mes.svg">
                </div>
                <b class="lexart-wa__lbl">{{ 'navigation.tasks_trello' | translate }}</b>
            </a>
        </div>
        <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.jira">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/images/Jira-PBXDom.png" style="margin-bottom: 14px">
                </div>
                <b class="lexart-wa__lbl">{{ 'navigation.jira' | translate }}</b>
            </a>
        </div>
        <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.taskManager">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/catalogos/conceptos-gasto.svg">
                </div>
                <b class="lexart-wa__lbl">{{ 'navigation.taskManager' | translate }}</b>
            </a>
        </div>
</div>
