<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            {{ 'Tareas'}}
        </h1>
    </div>
</div>
<div class="imm-wa__cnt">
    <div class="imm-wa__full">
        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.tasks">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/presupuestos.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'Tareas Manuales' }}</b>
            </a>
        </div>
        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.tasks_automatic">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/cuentas.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.tasks_automatic' | translate }}</b>
            </a>
        </div>
        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.tasks_trello">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/budget-mes.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.tasks_trello' | translate }}</b>
            </a>
        </div>
        <div class="imm-cstm__grid imm-cstm__cntr">
            <a ui-sref="app.taskManager">
                <div class="imm-cstm__grid-25-two">
                    <img src="/assets/catalogos/conceptos-gasto.svg">
                </div>
                <b class="imm-wa__lbl">{{ 'navigation.taskManager' | translate }}</b>
            </a>
        </div>
</div>
