<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            <a class="imm-bc-item" ui-sref="app.dashboardTasks">{{ 'navigation.tasks' | translate }}</a>
        </h1>
        <div class="imm-bc">
            <a class="imm-bc-item">{{ 'tasks_automatic.title' | translate }}</a>
        </div>
        <div class="imm-btn__right">
            <button style="background-color: skyblue; color: white;cursor:pointer;" ng-click="showCode()">Ver Codigo</button>
        </div>
    </div>
</div>
<div class="imm-wa__cnt">
    <table>
        <thead>
            <tr>
                <th style="width: 6%;">{{ 'tasks_automatic.id' | translate }}</th>
                <th>{{ 'tasks_automatic.error' | translate }}</th>
                <th>{{ 'tasks_automatic.origin' | translate }}</th>
                <th>{{ 'tasks_automatic.dateCapture' | translate }}</th>
                <th class="imm-cstm__grid-5"></th>
                <th class="imm-cstm__grid-5"></th>
                <th class="imm-cstm__grid-5"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="field-filter" ng-model="filter.id"></td>
                <td><input class="field-filter" ng-model="filter.error"></td>
                <td><input class="field-filter" ng-model="filter.origin"></td>
                <td><input class="field-filter" ng-model="filter.dateCapture"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="(index,task_automatic) in tasks_automatic" ng-class="{'active-task_automatic': currentTrack.idTask_automatic == task_automatic.id}" ng-style="task_automatic.status == 'Done' && {'background-color':'#a9e892'}  || task_automatic.status == 'In-Review' && {'background-color':'#f08b8b'} || task_automatic.status == 'In-Progress' && {'background-color':'#f2ecb8'}">
                <td title="{{task_automatic.id}}">{{task_automatic.id | truncateTail:true:30:'...'}}</td>
                <td title="{{task_automatic.error}}">{{task_automatic.error | truncateTail:true:30:'...'}}</td>
                <td>{{task_automatic.origin}}</td>
                <td>{{task_automatic.dateCapture}}</td>

                <td ng-if="isAdmin=='true' || isClient=='true'">
                    <a href="" ng-click="editTask_automatic(index,task_automatic)">
                        <i class="ri-edit-line"></i>
                    </a>
                </td>
                <td ng-if="isAdmin=='false' && isClient=='false'">
                    <a href="" ng-click="editTask_automatic(index,task_automatic)">
                        <img src="assets/images/icons/details-ico-blue.svg">
                    </a>
                </td>
                <td>
                  <a ng-click="deleteTask(task_automatic.id)" ng-if="userRole == 'admin'">
                    <img src="assets/images/icons/delete_entry-ico.svg">
                  </a>
              </td>
                <td ng-if="task_automatic.status != 'Done' && task_automatic.status != 'In-Review' && isClient=='false' ">
                    <a href ng-click="stopTrack()" ng-if="currentTrack.idTask == task_automatic.id"><i class="ri-pause-line"></i></a>
                    <a href ng-click="startTrackAuto(task_automatic)" ng-if="currentTrack.idTask != task_automatic.id"><i class="ri-play-line"></i></a>
                </td>
                <td ng-if="isClient=='true'"></td>
                <td ng-if="task_automatic.status == 'Done' || task_automatic.status == 'In-Review' && isClient=='false'"></td>
            </tr>
        </tbody>
    </table>
</div>

<paging
    ng-show="total>pageSize"
    page="currentPage"
    page-size="pageSize"
    total="total"
    hide-if-empty="true"
    show-prev-next="true"
    show-first-last="true"
    scroll-top="true"
    paging-action="pager(page)">
</paging>
