<div class="lexart-modal lexart-modal--medium">

  <div class="lexart-modal__header">
    <h1 class="lexart-modal__title">{{ 'tasks_automatic.task_automatic' | translate }}</h1>
    <a class="lexart-modal__close-btn" ng-click="closeThisDialog()">
      <i class="lexart-icon lexart-icon--modal-close"></i>
    </a>
  </div>

  <div class="lexart-modal__cnt">
    <ng-form>
      <form class="lexart-frm">
        <div class="lexart-frm__fldgrp">
          <div class="lexart-frm__fld">
            <label class="lexart-frm__lbl">
              <input type="text" ng-model="task_automatic.origin">
              <!-- <span style="width: 10px;"><input type="number" min="0" class="f-hour" " placeholder="hhhh" string-to-number ng-model="duration.hours" ng-if="isAdmin=='false' && isClient=='false'" readonly ><input type="number" min="0" max="59" class="f-minute"  " placeholder="mm"  ng-model="duration.minutes" ng-if="isAdmin=='false' && isClient=='false'" readonly><input type="number" min="0" max="59" class="f-second"  " placeholder="ss"  ng-model="duration.seconds" ng-if="isAdmin=='false' && isClient=='false'" readonly ></span>
              <span style="width: 10px;"><input type="number" min="0" class="f-hour" " placeholder="hhhh" string-to-number ng-model="duration.hours" ng-if="isAdmin=='true' || isClient=='true'"  ><input type="number" min="0" max="59" class="f-minute"  " placeholder="mm"  ng-model="duration.minutes"  ng-if="isAdmin=='true' || isClient=='true'"  ><input type="number" min="0" max="59" class="f-second"  " placeholder="ss"  ng-model="duration.seconds"  ng-if="isAdmin=='true' || isClient=='true'"   ></span> -->

              <b class="lexart-frm__lbl-name">{{ 'tasks_automatic.origin' | translate }}</b>
            </label>
          </div>
          <div class="lexart-frm__fld">
            <label class="lexart-frm__lbl">
              <input type="text" ng-model="task_automatic.status" ng-if="isAdmin=='false' && task_automatic.status=='Done'" readonly>

              <ui-select
              ng-model="task_automatic.status"
              class="lexart-select lexart-select--input"
              theme="selectize"
              append-to-body="true"
              ng-if="isAdmin=='true'"
              ng-change="changeStatus()"

              >
              <ui-select-match>
                {{$select.selected}}
              </ui-select-match>
              <ui-select-choices repeat="client in allStatus ">
                <div ng-bind-html="client | highlight: $select.selected"></div>
              </ui-select-choices>
            </ui-select>


            <ui-select
            ng-model="task_automatic.status"
            class="lexart-select lexart-select--input"
            theme="selectize"
            append-to-body="true"
            ng-if="isAdmin=='false' && task_automatic.status!='Done'"
            ng-change="changeStatus()"

            >
            <ui-select-match>
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="client in allStatus ">
              <div ng-bind-html="client | highlight: $select.selected"></div>
            </ui-select-choices>
          </ui-select>

          <b class="lexart-frm__lbl-name">{{ 'tasks_automatic.status' | translate }} <span class="required">*</span></b>
        </label>

      </div>

        </div>

        <div class="lexart-frm__fldgrp">
          <div class="lexart-frm__fld">
            <label class="lexart-frm__lbl">
              <!--<input type="text" ng-model="task.description">-->
              <input rows="7" cols="50" ng-model="task_automatic.url" ng-if="isAdmin=='false' && isClient=='false'" readonly>
              <input rows="7" cols="50" ng-model="task_automatic.url" ng-if="isAdmin=='true' || isClient=='true'">
              <b class="lexart-frm__lbl-name">{{ 'tasks_automatic.url' | translate }}</b>
            </label>
          </div>
    <div class="lexart-frm__fld">
      <label class="lexart-frm__lbl">
        <div moment-picker="task_automatic.dateCapture" ng-if="isAdmin=='true' || isClient=='true'">
          <input ng-model="task_automatic.dateCapture" ng-if="isAdmin=='true' || isClient=='true'">
        </div>
        <div moment-picker="task_automatic.dateCapture" ng-if="isAdmin=='false' && isClient=='false' " >
          <input ng-model="task_automatic.dateCapture" ng-if="isAdmin=='false' && isClient=='false' " readonly>
        </div>
        <b class="lexart-frm__lbl-name">{{ 'Fecha Captura'  }} <span class="required">*</span></b>

      </label>
    </div>

  </div>

        <div class="lexart-frm__fldgrp">
          <div class="lexart-frm__fld">
            <label class="lexart-frm__lbl">
              <!--<input type="text" ng-model="task.description">-->
              <input rows="7" cols="50" ng-model="task_automatic.file" ng-if="isAdmin=='false' && isClient=='false'" readonly>
              <input rows="7" cols="50" ng-model="task_automatic.file" ng-if="isAdmin=='true' || isClient=='true'">
              <b class="lexart-frm__lbl-name">{{ 'tasks_automatic.file' | translate }}</b>
            </label>
          </div>
          <div class="lexart-frm__fld">
            <label class="lexart-frm__lbl">
              <!--<input type="text" ng-model="task.description">-->
              <input rows="7" cols="50" ng-model="task_automatic.line" ng-if="isAdmin=='false' && isClient=='false'" readonly>
              <input rows="7" cols="50" ng-model="task_automatic.line" ng-if="isAdmin=='true' || isClient=='true'">
              <b class="lexart-frm__lbl-name">{{ 'tasks_automatic.line' | translate }}</b>
            </label>
          </div>
          <div class="lexart-frm__fld">
            <label class="lexart-frm__lbl">
              <!--<input type="text" ng-model="task.description">-->
              <input rows="7" cols="50" ng-model="task_automatic.column" ng-if="isAdmin=='false' && isClient=='false'" readonly>
              <input rows="7" cols="50" ng-model="task_automatic.column" ng-if="isAdmin=='true' || isClient=='true'">
              <b class="lexart-frm__lbl-name">{{ 'tasks_automatic.column' | translate }}</b>
            </label>
          </div>
    </div>
     
<div class="lexart-frm__fld">
  <label class="lexart-frm__lbl">
    <textarea type="text" ng-model="task_automatic.error" ng-if="isAdmin=='true' || isClient=='true'" ></textarea>
    <textarea type="text" ng-model="task_automatic.error" ng-if="isAdmin=='false' && isClient=='false' " readonly></textarea>

    <b class="lexart-frm__lbl-name">{{ 'tasks_automatic.error' | translate }} <span class="required">*</span></b>
  </label>
</div>

    <div class="lexart-frm__fldgrp">


      <div class="lexart-frm__fld">

        <button type="button"  class="lexart-btn" ng-click="openModalComentario()">Agregar Comentario</button>
      </div>

    </div>




    <div class="lexart-frm__fldgrp">
      <table ng-show="comments.length>0">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ 'Usuario'}}</th>

            <th>{{ 'tasks_automatic.comments' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(index,comment) in comments">
            <td>{{index+1}}</td>
            <td>{{comment.userName}}</td>

            <td>{{comment.comment}}</td>
            <td>
              <a ng-click="editComments(index,comment)">
                <i class="ri-edit-line"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>



<!--     <div class="lexart-frm__fldgrp" ng-if="isAdmin=='true' || isClient=='true'">
      <table class="lexart-table">
        <thead>
          <tr>
            <th>{{ 'projects.id' | translate }}</th>
            <th>{{ 'projects.name' | translate }}</th>
            <th>{{ 'projects.assign' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td ng-if="isAdmin=='true' || isClient=='true'">
              <input type="checkbox" ng-model="usersAux[user.id]"   >

            </td>
          </tr>
        </tbody>
      </table>
    </div> -->



  </form>
</ng-form>
</div>

<div class="lexart-modal__actions">
  <p class="err-display">{{error}}</p>
  <a class="lexart-btn lexart-btn--alt" ng-click="ngDialogData.cancel()">{{ 'shared.modal.cancel' | translate }}</a>
  <a class="lexart-btn" ng-disabled="sendingData || !tasks_automatic.error" ng-click="ngDialogData.confirm()">{{ 'shared.modal.accept' | translate }}</a>
</div>
</div>
