<div class="imm-modal imm-modal--medium">
    <div class="imm-modal__header">
        <h1 class="imm-modal__title">{{ ngDialogData.titleRequired }}</h1>
        <a class="imm-modal__close-btn" ng-click="closeThisDialog()"><i class="imm-icon imm-icon--modal-close"></i></a>
    </div>

    <div class="imm-modal__cnt">
        <p ng-if="ngDialogData.msg">{{ ngDialogData.msg }}</p>
        <div ng-if="ngDialogData.prj">
          <label>Proyecto:</label><br>
          <ui-select ng-click="ngDialogData.prj.getProj" append-to-body="true" class="imm-select imm-select--input" theme="selectize" ng-model="selected.value">
           <ui-select-match placeholder="Seleccionar Proyecto">
               {{$select.selected.name}}
           </ui-select-match>
           <ui-select-choices repeat="item in getProjects  track by $index">
               <span ng-bind="item.name"></span>
           </ui-select-choices>
          </ui-select>
          <p ng-if="selected.value.id == undefined" style="color:red; font-size: 10px;">La tarea automatica necesita asociarse a un proyecto.</p>
        </div>
        <textarea ng-if="ngDialogData.evaluate" style="padding:10px; width: 100%;" readonly>{{ngDialogData.evaluate}}</textarea>
    </div>

    <div class="imm-modal__actions">
        <a class="imm-btn imm-btn--alt" ng-if="ngDialogData.cancel" ng-click="ngDialogData.cancel();closeThisDialog()">{{ 'shared.modal.cancel' | translate }}</a>
        <a class="imm-btn" ng-click="ngDialogData.confirm();closeThisDialog()">{{ 'shared.modal.accept' | translate }}</a>
    </div>
</div>
