<div class="imm-menu__wrp" ng-class="{'imm-menu__collapsed': thisHide == true}">

    <div class="imm-menu__hdr" ng-class="{'imm-menu__collapsed': thisHide == true}" style="height: 100px;">
        <a ng-href="/" class="imm-menu__tit">
        <img src="/assets/images/lextracking-logo.svg" width="150px" title="LexTracking" alt="LexTracking" ng-show="!thisHide">
        </a>
        <p style="color: #fff; font-weight: 800; margin: 0 23px; font-size: 10px; line-height: 1.5;" ng-show="timerRunning">
            <label title="{{currentTrack.projectName + ' - ' + currentTrack.taskName}}">{{currentTrack.projectName + ' - ' + currentTrack.taskName | truncateTail:true:45:'...'}}</label>
            <label style="display: block;"><span style="vertical-align: super;">{{timer}}</span><span ng-click="stopTrack()">&nbsp;&nbsp;<img class="img_stop" src="/assets/images/stopNavBar.png"></span></label>
        </p>
        <!-- <a class="imm-menu__tools-btn" ng-click="hideItems()"></a> -->
    </div>

    <nav class="imm-menu__nav" ng-class="{'imm-menu__collapsed': thisHide == true}" style="padding-top: 50px;">
        <a href="#" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected" ui-sref="app.dashboard">
            <i class="imm-icon imm-icon--analytics-ico"></i> <span ng-show="!thisHide">{{ 'navigation.dashboard' | translate }}</span>
        </a>
        <a href="#" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected" ui-sref="app.calendar">
            <i class="imm-icon imm-icon--analytics-ico"></i> <span ng-show="!thisHide">{{ 'navigation.calendar' | translate }}</span>
        </a>
        <a ng-if="isAdmin == 'true' || userRole == 'pm'" href="#" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected" ui-sref="app.users">
            <i class="imm-icon imm-icon--users-ico"></i> <span ng-show="!thisHide">{{ 'navigation.users' | translate }}</span>
        </a>
        <a ng-if="userRole == 'developer'" ui-sref="app.userEdit({id:userId})"" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected">
            <i class="imm-icon imm-icon--users-ico"></i> <span ng-show="!thisHide">{{ 'navigation.my-profile' | translate }}</span>
        </a>
        <a ng-if="isAdmin == 'true' || userRole == 'pm' " href="#" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected" ui-sref="app.clients">
            <i class="imm-icon imm-icon--users-ico"></i> <span ng-show="!thisHide">{{ 'navigation.clients' | translate }}</span>
        </a>
        <a href="#" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected" ui-sref="app.projects">
            <i class="imm-icon imm-icon--proyectos-ico"></i> <span ng-show="!thisHide">{{ 'navigation.projects' | translate }}</span>
        </a>
        <a href="#" ng-if="userRole != 'clients'" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected" ui-sref="app.dashboardTasks">
            <i class="imm-icon imm-icon--presupuesto-ico"></i> <span ng-show="!thisHide">{{ 'navigation.tasks' | translate }}</span>
        </a>
        <a  href="#" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected" ui-sref="app.reports">
            <i class="imm-icon imm-icon--analytics-ico"></i> <span ng-show="!thisHide">{{ 'Reportes' }}</span>
        </a>
        <a ng-if="isAdmin == 'true'"  href="#" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected" ui-sref="app.CRM">
            <i class="imm-icon imm-icon--catalogos-ico"></i> <span ng-show="!thisHide">{{ 'CRM'}}</span>
        </a>
        <a ng-if="isAdmin == 'true'"  href="#" class="imm-menu__nav-item" ui-sref-active="imm-menu__nav-item--selected" ui-sref="app.apps">
            <i class="imm-icon imm-icon--catalogos-ico"></i> <span ng-show="!thisHide">{{ 'APP’s'}}</span>
        </a>

    </nav>

    <div class="imm-user" ng-class="{'active': userToolsActive == true , 'imm-menu__collapsed': thisHide == true}" ng-show="!thisHide">
        <div>
            <!--<img class="imm-user__pic" src="/assets/images/catalogos/usuarios.svg" alt="{{ userName }}" title="{{ userName }}" />-->
            <div class="imm-user__tools">
                <div class="imm-user__toggle" ng-click="toggleActive()" ng-show="!thisHide">
                    <div class="imm-user__name">{{ userName }}</div>
                    <div class="imm-user__profile">{{ userRole }}</div>
                </div>
                <div class="imm-user__options">

                    <button class="imm-user__options-btn" ng-click="logout()">
                        <i class="imm-icon imm-icon--close-session"></i>
                        <span ng-show="!thisHide">{{ 'navigation.logout' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
