<div class="imm-wa__hdr imm-flex">
  <div class="imm-flex-5">
    <h1 class="imm-wa__tit">
      <a class="imm-bc-item">{{ 'weeklyHours.title' | translate }}</a>
    </h1>
    <div class="imm-btn__right">
        <a ui-sref="app.weeklyHourNew" class="imm-btn imm-btn--round">&#43; {{ 'weeklyHours.weeklyHour' | translate }}</a>
    </div>
  </div>
</div>

<div class="imm-wa__cnt">
  <table>
    <thead>
      <tr>
        <th>{{ 'weeklyHours.id' | translate }}</th>
        <th>{{ 'weeklyHours.userName' | translate }}</th>

        <th>{{ 'weeklyHours.costHour' | translate }}</th>
        <th>{{ 'weeklyHours.workLoad' | translate }}</th>
        <th>{{'weeklyHours.currency' | translate}}</th>
        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input class="field-filter" ng-model="filter.id"></td>
        <td><input class="field-filter" ng-model="filter.userName"></td>
        <td><input class="field-filter" ng-model="filter.costHour"></td>
        <td><input class="field-filter" ng-model="filter.workLoad"></td>
        <td><input class="field-filter" ng-model="filter.currency"></td>
        <td></td>
      </tr>
      <tr ng-repeat="weeklyHour in weeklyHours | filter: filter">
        <td>{{weeklyHour.id}}</td>
        <td>{{weeklyHour.userName}}</td>

        <td>{{weeklyHour.costHour}}</td>
        <td>{{weeklyHour.workLoad}}</td>
        <td>{{weeklyHour.currency}}</td>
        <td>
          <a ui-sref="app.weeklyHourEdit({id: weeklyHour.id})">
            <img src="assets/images/icons/pencil-ico.svg">
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<!-- End Bar Graph -->