<div class="imm-wa__hdr imm-flex">
  <div class="imm-flex-5">
    <h1 class="imm-wa__tit">
      <a class="imm-bc-item">{{ 'hours-cost.title' | translate }}</a>
    </h1>
    <div class="imm-btn__right">
        <a ui-sref="app.hourCostNew" class="imm-btn imm-btn--round">&#43; {{ 'hours-cost.hour-cost' | translate }}</a>
    </div>
  </div>
</div>

<div class="imm-wa__cnt">
  <table class="imm-table">
    <thead>
      <tr>
        <th>{{ 'hours-cost.clientName' | translate }}</th>
        <th>{{ 'hours-cost.userName' | translate }}</th>
        <th>{{'hours-cost.costUser' | translate }}</th>
        <th>{{'hours-cost.costClient' | translate }}</th>

        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input class="field-filter" ng-model="filter.id"></td>
        <td><input class="field-filter" ng-model="filter.name"></td>
        <td><input class="field-filter" ng-model="filter.company"></td>
        <td><input class="field-filter" ng-model="filter.company"></td>
        <td></td>
      </tr>
      <tr ng-repeat="cost in hoursCost| filter: filter">
        <td>{{cost.clientName}}</td>
        <td>{{cost.userName}}</td>
        <td>{{cost.costUser | currency:(cost.currencyUser == 'USD' ? ' USD' : ' $')}}</td>
        <td>{{cost.costClient | currency:(cost.currencyClient == 'USD' ? ' USD' : ' $')}}</td>
        <td>
          <a ui-sref="app.hourCostEdit({id: cost.id})">
            <i class="ri-edit-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<!-- End Bar Graph -->
