<div class="imm-wa__hdr imm-flex">
  <div class="imm-flex-5">
    <h1 class="imm-wa__tit">
      <a class="imm-bc-item" ui-sref="app.sales">{{ 'sales.title' | translate }}</a>
    </h1>
    <div class="imm-bc">
      <a class="imm-bc-item">{{ 'sales.sale' | translate }}</a>
    </div>
    <div class="imm-bc" ng-if="sale.name">
      <span class="imm-bc-item imm-bc--head">{{sale.name}}</span>
    </div>
  </div>
</div>

<div class="imm-wa__cnt">
  <form class="imm-frm imm-frm--center">

    <div class="imm-frm__fldgrp">
      <div class="imm-frm__fld" ng-if="sale.id">
        <label class="imm-frm__lbl">
          <input type="text" ng-value="sale.id" readonly/>
          <b class="imm-frm__lbl-name">{{ 'ID' }}</b>
        </label>
      </div>

      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">
          <b class="imm-frm__lbl-name">{{ 'sales.user' | translate }} <span class="required">*</span></b>
          <ui-select
          ng-model="select.user"
          class="imm-select imm-select--input"
          theme="selectize"
          append-to-body="true"
          >
          <ui-select-match>
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="user in users | filter: { name: $select.search }">
            <div ng-bind-html="user.name | highlight: $select.selected.name"></div>
          </ui-select-choices>
        </ui-select>
      </label>
    </div>

    <div class="imm-frm__fld">
      <label class="imm-frm__lbl">
        <ui-select
        ng-model="select.client"
        class="imm-select imm-select--input"
        theme="selectize"
        append-to-body="true"
        >
        <ui-select-match>
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="client in clients | filter: { name: $select.search }">
          <div ng-bind-html="client.name | highlight: $select.selected.concept"></div>
        </ui-select-choices>
      </ui-select>
        <b class="imm-frm__lbl-name">{{ 'sales.client' | translate }} <span class="required">*</span></b>
      </label>
    </div>
  </div>
  <div class="imm-frm__fldgrp">
    <div class="imm-frm__fld">
      <label class="imm-frm__lbl">
        <input type="number" ng-model="sale.amount" min="0"/>
        <b class="imm-frm__lbl-name">{{ 'sales.amount' | translate }} <span class="required">*</span></b>
      </label>
    </div>
    <div class="imm-frm__fld">
      <label class="imm-frm__lbl">
        <select ng-model="sale.currency">
          <option>USD</option>
          <option>$</option>
        </select>
        <b class="imm-frm__lbl-name">{{ 'sales.currency' | translate }} <span class="required">*</span></b>
      </label>
    </div>
    <div class="imm-frm__fld">
      <label class="imm-frm__lbl">
        <ui-select
        ng-model="select.concept"
        class="imm-select imm-select--input"
        theme="selectize"
        append-to-body="true"
        >
        <ui-select-match>
          {{$select.selected.concept}}
        </ui-select-match>
        <ui-select-choices repeat="concept in concepts | filter: { concept: $select.search }">
          <div ng-bind-html="concept.concept | highlight: $select.selected.concept"></div>
        </ui-select-choices>
      </ui-select>
        <b class="imm-frm__lbl-name">{{ 'sales.concept' | translate }} <span class="required">*</span></b>
      </label>
    </div>
  </div>
  <div class="imm-frm__fldgrp">

    <div class="imm-frm__fld" >
      <label class="imm-frm__lbl">

        <b class="imm-frm__lbl-name">{{ 'sales.type' | translate }} <span class="required">*</span></b>

        <ui-select
        ng-model="select.type"
        class="imm-select imm-select--input"
        theme="selectize"
        append-to-body="true"
        >
        <ui-select-match>
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="type in types | filter: { name: $select.search }">
          <div ng-bind-html="type.name | highlight: $select.selected.name"></div>
        </ui-select-choices>
      </label>
    </div>

    <div class="imm-frm__fld" ng-if="select.type.name=='PAGO'">
      <label class="imm-frm__lbl">

        <b class="imm-frm__lbl-name">{{ 'Tipo Pago' }} <span class="required">*</span></b>

        <select ng-model="sale.payType">

          <option>DEBITO</option>
          <option>EFECTIVO</option>
          <option>CREDITO</option>
          <option>T. BANCARIA</option>

        </select>
      </label>
    </div>


    <div class="imm-frm__fld" ng-if="select.type.name=='PAGO' && (sale.payType=='DEBITO' || sale.payType=='CREDITO' )">
      <label class="imm-frm__lbl">

        <b class="imm-frm__lbl-name">{{ 'Tarjeta' }} <span class="required">*</span></b>

        <select ng-model="sale.card">

          <option>MASTER</option>
          <option>VISA</option>
          <option>OCA</option>
          <option>CREDITEL</option>

        </select>
      </label>
    </div>







    <div class="imm-frm__fld">
      <label class="imm-frm__lbl">
        <input type="date" name=""  ng-model="sale.date" class="form-control">
        <b class="imm-frm__lbl-name">{{ 'sales.date' | translate }} <span class="required">*</span></b>
      </label>


    </div>
  </div>


  <div class="imm-frm__fldgrp">
    <div class="imm-frm__fld">
      <label class="imm-frm__lbl">
        <textarea name="name"  ng-model="sale.description"rows="8" cols="80"></textarea>
        <b class="imm-frm__lbl-name">{{ 'sales.description' | translate }} <span class="required">*</span></b>
      </label>
    </div>
  </div>


</form>
</div>

<div class="imm-wa__actions">
  <p ng-if="error" class="err-display">{{error}} {{ 'general.cant_be_empty' | translate }}</p>
  <button class="imm-btn imm-btn--alt" ui-sref="app.sales">{{ 'sales.back' | translate }}</button>
  <button class="imm-btn" ng-disabled="sendingData" ng-click="save()">{{ 'sales.save' | translate }}</button>
</div>
