<div class="imm-wa__hdr">
  <div class="imm-flex">
    <div class="imm-flex-5 imm-flex">
      <div class="imm-flex-1">
        <h1 class="imm-wa__tit">
          <div class="imm-flex">
            <a class="imm-bc-item">{{ 'sales.title' | translate }}</a>
          </div>
        </h1>
      </div>
      <div class="imm-flex-2">

      </div>
      <!-- <div class="imm-flex-6">
        <label class="imm-frm__lbl">
          <b class="imm-frm__lbl-name">{{ 'sales.user' | translate }}</b>
          <ui-select
          ng-model="select.user"
          class="imm-select imm-select--input"
          theme="selectize"
          append-to-body="true"
          ng-change="filterUsuario()"
          >
          <ui-select-match>
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="user in users | filter: { name: $select.search }">
            <div ng-bind-html="user.name | highlight: $select.selected.name"></div>
          </ui-select-choices>
        </ui-select>
      </label>
      </div> -->
      <div class="imm-flex-6">
        <div class="imm-btn__right">
          <a ui-sref="app.saleNew" class="imm-btn imm-btn--round">&#43; {{ 'sales.sale' | translate }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="imm-flex" style="margin-top: 1em;">
    <div class="imm-flex-2">
      <select ng-options="option.year for option in years track by option.id"
      ng-model="fill.year"
      ng-change="changeYear()"
      ></select>
    </div>
    <div class="imm-flex-2">
      <select ng-options="option.month for option in months track by option.id"
      ng-model="fill.month"
      ng-change="changeMonth()"
      ></select>
    </div>

    <div class="imm-flex-2">
        <ui-select
        ng-model="select.user"
        class="imm-select imm-select--input"
        theme="selectize"
        append-to-body="true"
        ng-change="filterUsuario()"

        >
        <ui-select-match placeholder="Seleccionar Usuario">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="user in users | filter: { name: $select.search }">
          <div ng-bind-html="user.name | highlight: $select.selected.name"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="imm-flex-6">

    </div>
  </div>
</div>

<div class="imm-wa__cnt">
  <table>
    <thead>
      <tr>
        <th>{{ 'Fecha' }}</th>
        <th>{{ 'Descripción' }}</th>
        <th>{{ 'Concepto' }}</th>
        <th>{{ 'Vendedor' }}</th>
        <th>{{ 'Cliente' }}</th>


        <th>{{ 'Monto' }}</th>

        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><input class="field-filter" ng-model="filter.description"></td>
        <td><input class="field-filter" ng-model="filter.concept"></td>
        <td><input class="field-filter" ng-model="filter.seller"></td>
        <td><input class="field-filter" ng-model="filter.client"></td>
        <td><input class="field-filter" ng-model="filter.amount"></td>
        <td></td>

      </tr>
      <tr ng-repeat="sale in sales.sales | filter: filter">
        <td>{{ convToDate(sale.date) | date:'dd/MM/yyyy'}}</td>
        <td>{{sale.description}}</td>
        <td>{{sale.concept}}</td>
        <td>{{sale.seller}}</td>
        <td>{{sale.client}}</td>
        <td ng-if="sale.currency=='$'">{{sale.amount| currency:" $"}}</td>

        <td ng-if="sale.currency=='USD'">{{sale.amount| currency:" USD"}}</td>

        <td ng-if="sale.currency=='R$'">{{sale.amount| currency:" R$"}}</td>

        <td>
          <a ui-sref="app.saleEdit({id: sale.id})">
            <i class="ri-edit-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><b>TOTAL:</b> </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        <td><b>
          {{ sales.totalSales.totalPesos | currency:" $" }}
          <br>
          {{ sales.totalSales.totalDolares | currency: "USD" }}
          <br>
          {{ sales.totalSales.totalReales | currency:" R$" }}
        </b></td>

        <td></td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- End Bar Graph -->
