<div class="lexart-wa__hdr lexart-flex">
    <div class="lexart-flex-5">
        <h1 class="lexart-wa__tit">
            {{ 'APP’s'}}
        </h1>
    </div>
</div>
<div class="lexart-wa__cnt">
    <div class="lexart-wa__full">
        <!-- <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.bots">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/catalogos/cuentas.svg">
                </div>
                <b class="lexart-wa__lbl">{{ 'Bots' }}</b>
            </a>
        </div> -->
        <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.easyWebs">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/catalogos/icon_easyweb.png" width="110px" alt="110px">
                </div>
                <b class="lexart-wa__lbl">{{ 'Easy Webs' }}</b>
            </a>
        </div>
        <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.hosting">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/catalogos/presupuestos.svg">
                </div>
                <b class="lexart-wa__lbl">{{ 'Hosting' }}</b>
            </a>
        </div>


      <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.products">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/catalogos/evolucion.svg">
                </div>
                <b class="lexart-wa__lbl">{{ 'Productos' }}</b>
            </a>
        </div>

      <!--     <div class="lexart-cstm__grid lexart-cstm__cntr">
            <a ui-sref="app.mailSenders">
                <div class="lexart-cstm__grid-25-two">
                    <img src="/assets/catalogos/conceptos-gasto.svg">
                </div>
                <b class="lexart-wa__lbl">{{ 'Mail Sender' }}</b>
            </a>
        </div> -->
</div>
