<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            <a class="imm-bc-item" ui-sref="app.jira">{{ 'navigation.tasks' | translate }}</a>
        </h1>
        <div class="imm-bc">
            <a class="imm-bc-item">{{ 'jira.title' | translate }}</a>
        </div>
        <div class="imm-btn__right">
            <a ui-sref="app.jiraTaskNew({idboard: jiraTask.user.idBoard})" class="imm-btn imm-btn--round" ng-if="isClient=='false'">&#43; {{ 'TAREA JIRA' }}</a>
        </div>
    </div>
</div>
<div class="imm-wa__cnt">
    <table>
        <thead>
            <tr>
                <th>{{ 'ID tarea' }}</th>
                <th>{{ 'KEY Tarea' }}</th>
                <th>{{ 'Nombre Tarea' }}</th>
                <th>{{ 'Status' }}</th>
                <th>{{ 'Prioridad' }}</th>
                <th>{{ 'Reportado por' }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="field-filter" ng-model="filter.idTask"></td>
                <td><input class="field-filter" ng-model="filter.keyTask"></td>
                <td><input class="field-filter" ng-model="filter.nameTask"></td>
                <td><input class="field-filter" ng-model="filter.labels"></td>
                <td><input class="field-filter" ng-model="filter.priority"></td>
                <td><input class="field-filter" ng-model="filter.reporter"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="jira in jiraTask.tasks">
                <td style="width: 10%">{{jira.idTask}}</td>
                <td>{{jira.keyTask}}</td>
                <td>{{jira.name}}</td>
                <td>{{jira.status}}</td>
                <td>{{jira.priority}}</td>
                <td>{{jira.reporter}}</td>
                <td>
                    <a href="" ng-click="boardTasks(jira.id)">
                        <img src="/assets/images/icons/details-ico-blue.svg">
                    </a>
                </td>
                <td>
                    <a href="" ui-sref="app.jiraTaskForm({id:jira.idTask})">
                        <i class="ri-edit-line"></i>
                    </a>
                </td>
                <td ng-click="delete(jira.idTask)">
                    <img src="assets/images/icons/delete_entry-ico.svg">
                </td>
                <td ng-if="task.status != 'Done' && task.status != 'In-Review' && isClient=='false' ">
                    <a href ng-click="stopTrack()" ng-if="currentTrack.idTask == jira.idTask"><i class="ri-pause-line"></i></a>
                    <a href ng-click="startJiraTrack(jira)" ng-if="currentTrack.idTask != jira.idTask"><i class="ri-play-line"></i></a>
                </td>                
            </tr>
        </tbody>
    </table>
</div>

<paging
    ng-show="total>pageSize"
    page="currentPage"
    page-size="pageSize"
    total="total"
    hide-if-empty="true"
    show-prev-next="true"
    show-first-last="true"
    scroll-top="true"
    paging-action="pager(page)">
</paging>
