<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            <a class="imm-bc-item" ui-sref="app.jira">{{ 'navigation.tasks' | translate }}</a>
        </h1>
        <div class="imm-bc">
            <a class="imm-bc-item">{{ 'jira.title' | translate }}</a>
        </div>
    </div>
</div>
<div class="imm-wa__cnt">
    <table>
        <thead>
            <tr>
                <th>{{ 'ID Tablero' }}</th>
                <th>{{ 'Nombre Tablero' }}</th>
                <th>{{ 'Nombre Proyecto' }}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="field-filter" ng-model="filter.idProject"></td>
                <td><input class="field-filter" ng-model="filter.name"></td>
                <td><input class="field-filter" ng-model="filter.name"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="jira in jiraTask.boards">
                <td style="width: 10%">{{jira.idBoard}}</td>
                <td>{{jira.name}}</td>
                <td>{{jira.idProyecto ? jira.projectName : '---'}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a ng-if="jira.idProyecto" ui-sref="app.jiraTasks({id: jira.idBoard})">
                        <img src="assets/images/icons/pencil-ico.svg">
                    </a>
                    <a ng-if="jira.idProyecto == null" ng-click="vinculate(jira.idProject, $index)">
                        <img src="assets/images/icons/pencil-ico.svg">
                    </a>
                </td>             
            </tr>
        </tbody>
    </table>
</div>

<paging
    ng-show="total>pageSize"
    page="currentPage"
    page-size="pageSize"
    total="total"
    hide-if-empty="true"
    show-prev-next="true"
    show-first-last="true"
    scroll-top="true"
    paging-action="pager(page)">
</paging>
