<div class="lexart-modal lexart-modal--medium">
    <div class="lexart-modal__header">
        <h1 class="lexart-modal__title">{{ 'Modificar Productos' }}</h1>
        <a class="lexart-modal__close-btn" ng-click="closeThisDialog()"><i class="lexart-icon lexart-icon--modal-close"></i></a>
    </div>

    <div class="lexart-modal__cnt">
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <ui-select
              ng-model="edit_product.state"
              class="lexart-select lexart-select--input"
              theme="selectize"
              append-to-body="true"
              >
              <ui-select-match>
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="product in productState | filter: { name: $select.search }">
                <div ng-bind-html="product.name | highlight: $select.selected.name"></div>
              </ui-select-choices>
            </ui-select>
            <b class="lexart-frm__lbl-name">{{ 'Estado del producto' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fldgrp" ng-if='edit_product.type.name == "Servidor virtual"'>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.passRoot" />
            <b class="lexart-frm__lbl-name">{{ 'Pass Root' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.ip" />
            <b class="lexart-frm__lbl-name">{{ 'IP' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.user" />
            <b class="lexart-frm__lbl-name">{{ 'Usuario' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.pass" />
            <b class="lexart-frm__lbl-name">{{ 'Contraseña' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.link" />
            <b class="lexart-frm__lbl-name">{{ 'Link' }}</b>
          </label>
        </div>
      </div>
      <div class="lexart-frm__fldgrp" ng-if='edit_product.type.name == "Hosting"'>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.user" />
            <b class="lexart-frm__lbl-name">{{ 'Usuario' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.pass" />
            <b class="lexart-frm__lbl-name">{{ 'Contraseña' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.link" />
            <b class="lexart-frm__lbl-name">{{ 'Link' }}</b>
          </label>
        </div>
      </div>
      <div class="lexart-frm__fldgrp" ng-if='edit_product.type.name == "Administracion productos externos"'>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.user" />
            <b class="lexart-frm__lbl-name">{{ 'Usuario' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.pass" />
            <b class="lexart-frm__lbl-name">{{ 'Contraseña' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.link" />
            <b class="lexart-frm__lbl-name">{{ 'Link' }}</b>
          </label>
        </div>
      </div>
      <div class="lexart-frm__fldgrp" ng-if='edit_product.type.name == "Dominio"'>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.user" />
            <b class="lexart-frm__lbl-name">{{ 'Usuario' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.pass" />
            <b class="lexart-frm__lbl-name">{{ 'Contraseña' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.link" />
            <b class="lexart-frm__lbl-name">{{ 'Link' }}</b>
          </label>
        </div>
      </div>
      <div class="lexart-frm__fldgrp" ng-if='edit_product.type.name == "Extra" && productDescription != ""'>
        <div class="lexart-frm__fld" style='margin-top: 20px;'>
          <label class="lexart-frm__lbl">
            <textarea ng-model="edit_product.note"></textarea>
            <b class="lexart-frm__lbl-name">{{ 'Nota' }}</b>
          </label>
        </div>
      </div>
      <div class="lexart-frm__fldgrp">
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <ui-select
              ng-model="edit_product.contractType"
              class="lexart-select lexart-select--input"
              theme="selectize"
              append-to-body="true"
              on-select="contractSelect($item)"
              >
              <ui-select-match>
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="type in contractType | filter: { name: $select.search }">
                <div ng-bind-html="type.name | highlight: $select.selected.name"></div>
              </ui-select-choices>
            </ui-select>
            <b class="lexart-frm__lbl-name">{{ 'Tipo de contrato' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="number" ng-model="edit_product.price" />
            <b class="lexart-frm__lbl-name">{{ 'Precio (USD)' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld"></div>
        <div class="lexart-frm__fld"></div>
      </div>
      <div class="lexart-frm__fldgrp">
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <div moment-picker="edit_product.hireDate" format="DD/MM/YYYY" change='changeSelect()'>
              <input type='text' ng-model='edit_product.hireDate'>
            </div>
            <b class="lexart-frm__lbl-name">{{ 'Fecha de alquiler' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-value="edit_product.nextExpiration" readonly />
            <b class="lexart-frm__lbl-name">{{ 'Fecha de vencimiento' }}</b>
          </label>
        </div>
        <div class="lexart-frm__fld">
          <label class="lexart-frm__lbl">
            <input type="text" ng-model="edit_product.timeRemaining" readonly />
            <b class="lexart-frm__lbl-name">{{ 'Dias restante' }}</b>
          </label>
        </div>
      </div>
    </div>
    
    <div class="lexart-modal__actions">
        <p class="err-display">{{error}}</p>
        <!-- <a class="lexart-btn lexart-btn--alt" ng-click="closeThisDialog()">{{ 'shared.modal.cancel' | translate }}</a>
        <a class="lexart-btn" ng-click="ngDialogData.confirm();closeThisDialog()">{{ 'shared.modal.accept' | translate }}</a> -->
        <a class="lexart-btn" ng-click="ngDialogData.confirm();closeThisDialog()">{{ 'shared.modal.accept' | translate }}</a>
    </div>
</div>