<div class="imm-wa__hdr imm-flex">
  <div class="imm-flex-5">
    <h1 class="imm-wa__tit">
      <a class="imm-bc-item" ui-sref="app.users" ng-if="isAdmin == 'true'">{{ 'users.title' | translate }}</a>
      <a class="imm-bc-item" ng-if="isAdmin == 'false'">{{ 'users.my-profile' | translate }}</a>
    </h1>
    <div class="imm-bc" ng-if="isAdmin == 'true'">
      <a class="imm-bc-item">{{ 'users.user' | translate }}</a>
    </div>
    <div class="imm-bc" ng-if="user.name">
      <span class="imm-bc-item imm-bc--head">{{user.name}}</span>
    </div>
  </div>
</div>

<div class="imm-wa__cnt">
  <form class="imm-frm imm-frm--center">
    <div class="imm-frm__fldgrp">
      <div class="imm-frm__fld" ng-if="user.id">
        <label class="imm-frm__lbl">
          <input type="text" ng-value="user.id" readonly/>
          <b class="imm-frm__lbl-name">{{ 'ID' }}</b>
        </label>
      </div>

      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">
          <input type="text" ng-model="user.name"/>
          <b class="imm-frm__lbl-name">{{ 'Name'}} <span class="required">*</span></b>
        </label>
      </div>

      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">
          <input type="text" ng-model="user.email"/>
          <b class="imm-frm__lbl-name">{{ 'Email' }} <span class="required">*</span></b>
        </label>
      </div>
    </div>
    <div class="imm-frm__fldgrp">
      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">
          <input type="password" ng-model="user.password" />
          <b class="imm-frm__lbl-name">{{ 'Password' }}</b>
        </label>
      </div>

      <div class="imm-frm__fld" ng-if="isAdmin == 'true'">
        <label class="imm-frm__lbl">
          <select name="mySelect" id="mySelect"
          ng-options="option for option in ['developer','client','admin','arquitect','pm' ] track by option"
          ng-model="user.role"></select>
          <b class="imm-frm__lbl-name">{{'Rol'}}</b>
        </label>
      </div>
      <div class="imm-frm__fld" ng-if="userRole == 'developer'">
        <label class="imm-frm__lbl">
          <input ng-model="user.role" readonly="">
          <b class="imm-frm__lbl-name">{{'Rol'}}</b>
        </label>
      </div>
    </div>
    <div class="imm-frm__fldgrp" ng-if="user.role=='client'">
      <div class="imm-frm__fld">

        <label class="imm-frm__lbl">
          <ui-select
          ng-model="user.idClient"
          class="imm-select imm-select--input"
          theme="selectize"
          append-to-body="true"
          >
          <ui-select-match>
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices repeat="client.id as client in clients | filter: { name: $select.search }">
            <div ng-bind-html="client.name | highlight: $select.selected.name"></div>
          </ui-select-choices>
        </ui-select>
        <b class="imm-frm__lbl-name">{{'Cliente'}}</b>
      </label>
    </div>
    <div class="imm-frm__fld">
      
    </div>

  </div>
  </form>

  <div class="imm-frm__fld">
    <ul class="imm-tabs">
        <li class="imm-tabs__item" ng-init="tabUser = 1; tab1()" ng-click="tabUser = 1; tab1()" ng-class="{'imm-tabs__item--selected' : tabUser == 1}">Mi rendimiento</li>
        <li class="imm-tabs__item" ng-click="tabUser = 2" ng-class="{'imm-tabs__item--selected' : tabUser == 2}">Integraciones</li>
        <li class="imm-tabs__item" ng-click="tabUser = 3; tab3()" ng-class="{'imm-tabs__item--selected' : tabUser == 3}">Evaluaciones</li>
    </ul>
</div>

<div class="imm-wa__cnt" ng-if="tabUser == 1">
  <label class="imm-frm__lbl">
    <div moment-picker="performance.month.year" start-view="decade" min-date="date.minDate" max-date="date.maxDate" max-view="decade" start-date="date.startDate">
      <input ng-model="performance.month.year">
    </div>
    <b class="imm-frm__lbl-name">{{'Año'}}</b>
  </label>
    <table>
        <thead>
            <tr>
              <th>{{ 'users.month' | translate }}</th>
              <th>{{ 'users.year' | translate }}</th>
              <th>{{ 'users.salary' | translate }}</th>
              <th>{{ 'users.costhour' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="month in performance.actual" style="background-color: lightgreen;">
                <td>{{month.month}}</td>
                <td>{{month.year}}</td>
                <td>{{month.salary}}</td>
                <td>{{month.costHour}}</td>
            </tr>
            <tr ng-repeat="month in performance.past" style="background-color: lightblue;">
                <td>{{month.month}}</td>
                <td>{{month.year}}</td>
                <td>{{month.salary}}</td>
                <td>{{month.costHour}}</td>
            </tr>
            <tr ng-click="moreMonths(); show='false'" ng-init="show='true'">
              <th style="cursor: pointer;" ng-if="show=='true'">Mostrar meses anteriores <i style="margin-left: 10px;">▼</i></th>
              <th ng-if="show=='true'"></th>
              <th ng-if="show=='true'"></th>
              <th ng-if="show=='true'"></th>
            </tr>
            <tr ng-repeat="month in performance.allMonths" ng-if="show=='false'">
                <td>{{month.month}}</td>
                <td>{{month.year}}</td>
                <td>{{month.salary}}</td>
                <td>{{month.costHour}}</td>             
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="tabUser == 2" class="imm-wa__cnt" style="text-align: left; margin-right: 70%;">
  <p style="font-size: 14px; font-weight: bold">Integrar con:</p>
    <div class="imm-frm__fldgrp">
      <div class="imm-frm__fld" ng-if="user.id">
        <label class="imm-frm__lbl">
          <img src="/assets/images/icons/trello-icon.png" style="width: 60px; height: 60px;cursor: not-allowed"></img>
          <b class="imm-frm__lbl-name">{{ 'Trello' }}</b>
        </label>
      </div>

      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">
          <img src="/assets/images/icons/teamwork-icon.png" style="width: 60px; height: 60px;cursor: not-allowed"></img>
          <b class="imm-frm__lbl-name">{{ 'Teamwork' }}</b>
        </label>
      </div>

      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">
          <img src="/assets/images/Jira-PBXDom.png" style="width: 90px; height: 60px;cursor: not-allowed"></img>
          <b class="imm-frm__lbl-name">{{ 'Jira' }}</b>
        </label>
      </div>
    </div>
</div>

<div class="imm-wa__cnt" ng-if="tabUser == 3">
    <div class="imm-wa__cnt">
    <div class="imm-flex">
    <div class='flex-table'>
        <div class='flex-head'>
            <div class="flex-item">ID</div>
            <div class="flex-item">Evaluación</div>
            <div class="flex-item">Puntaje</div>
            <div class="flex-item">Evaluador</div>
            <div style="flex: 5%;width: 5%;"></div>
        </div>
        <!-- ORDENADO POR USUARIO -->
                <!-- TRACKS -->
                <div ng-repeat="eval in evaluacion track by $index" class='flex-column-wrap' id="datatable">
                    <div class='flex-row'>
                        <div class="flex-item">{{eval.id}}</div>
                        <div class="flex-item">{{eval.evaluacion}}</div>
                        <div class="flex-item">{{eval.puntaje | truncateTail:true:20:'...'}}</div>
                        <div class="flex-item">{{eval.admin}}</div>
                        <div style="flex: 5%;width: 5%;" ng-click="showEval(eval.evaluacion)">
                            <a>
                                <img src="assets/images/icons/pencil-ico.svg">
                            </a>
                        </div>
                    </div>
                </div>
         </div>
</div>
</div>
</div>
</div>

<div class="imm-wa__actions">
  <p ng-if="error" class="err-display">{{error}} {{ 'general.cant_be_empty' | translate }}</p>
  <!--<a class=" imm-link__delete" ng-disabled="sendingData" ng-if="user.id" ng-click="delete()">{{ 'users.delete_user' | translate }}</a>-->
  <button class="imm-btn imm-btn--alt" ui-sref="app.users">{{ 'users.back' | translate }}</button>
  <button class="imm-btn" ng-disabled="sendingData" ng-click="save(user)">{{ 'users.save' | translate }}</button>
</div>
