<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
      <a class="imm-bc-item" ui-sref="app.easyWebs">{{ 'EasyWebs Builder' }}</a>
    </h1>
        <div class="imm-bc" ng-if="bank.name">
            <span class="imm-bc-item imm-bc--head">{{bank.name}}</span>
        </div>
    </div>
</div>
<div class="imm-wa__cnt" ng-init="flag=true">
    <form class="imm-frm imm-frm--center">
        <div class="imm-frm__fldgrp">
            <div class="imm-frm__fld">
                <label class="imm-frm__lbl">
                    <input type="text" ng-model="web.domain" />
                    <b class="imm-frm__lbl-name">{{ 'DOMAIN' }}</b>
                </label>
            </div>
            <div class="imm-frm__fld">
                <label class="imm-frm__lbl">
                    <input type="text" ng-model="web.name" />
                    <b class="imm-frm__lbl-name">{{ 'NAME' }}</b>
                </label>
            </div>
            <div class="imm-frm__fld">
                <label class="imm-frm__lbl">
                    <select ng-model="web.active">
                        <option value="1">Active</option>
                        <option value="0">Disabled</option>
                    </select>
                    <b class="imm-frm__lbl-name">{{ 'ACTIVE'}} <span class="required">*</span></b>
                </label>
            </div>
        </div>
        <div class="imm-frm__fldgrp" ng-if="isEdit">
            <div class="imm-frm__fld">
                <label class="imm-frm__lbl">
                    <textarea ng-model="web.description"></textarea>
                    <b class="imm-frm__lbl-name">{{ 'DESCRIPTION' }}</b>
                </label>
            </div>
        </div>
        <div class="imm-frm__fldgrp" ng-if="isEdit">
            <div class="imm-frm__fld">
                <label class="imm-frm__lbl">
                    <input type="text" ng-model="web.connectToken" readonly="" />
                    <b class="imm-frm__lbl-name">{{ 'TOKEN' }}</b>
                </label>
            </div>
        </div>
        <div class="imm-frm__fldgrp"></div>
        <div class="imm-frm__fldgrp"></div>
        <div class="imm-frm__fld">
            <ul class="imm-tabs" ng-init="itemTab = 1" style='width: 100%;'>
                <li class="imm-tabs__item text-center" ng-click="itemTab = 1" ng-class="{'imm-tabs__item--selected' : itemTab == 1}">Menu</li>
                <li class="imm-tabs__item text-center" ng-click="itemTab = 2" ng-class="{'imm-tabs__item--selected' : itemTab == 2}">Slider</li>
                <li class="imm-tabs__item text-center" ng-click="itemTab = 3" ng-class="{'imm-tabs__item--selected' : itemTab == 3}">Section</li>
                <li class="imm-tabs__item text-center" ng-click="itemTab = 4" ng-class="{'imm-tabs__item--selected' : itemTab == 4}">Contact Form</li>
                <li class="imm-tabs__item text-center" ng-click="itemTab = 5" ng-class="{'imm-tabs__item--selected' : itemTab == 5}">Footer</li>
            </ul>
        </div>
        <!-- TAB MENU-->
        <div class="imm-frm__fld">
            <div ng-if="itemTab == 1">
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='menu.name' />
                            <b class="imm-frm__lbl-name">{{ 'MENU' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='menu.link' />
                            <b class="imm-frm__lbl-name">{{ 'MENU LINK' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='menu.attr' />
                            <b class="imm-frm__lbl-name">{{ 'MENU ATTRIBUTE' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <button class="imm-btn" ng-click="addMenu(menu);">Add menu</button>
                    </div>
                </div>

                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <table class="imm-table">
                                <thead>
                                    <th>Menu</th>
                                    <th>Link</th>
                                    <th>Attribute</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='menu in menuTable'>
                                        <td>{{menu.name}}</td>
                                        <td>{{menu.link}}</td>
                                        <td>{{menu.attr}}</td>
                                        <td><a ng-click="menuTable.splice($index,1);"><img src="assets/images/icons/delete_entry-ico.svg"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- TAB SLIDER -->
        <div class="imm-frm__fld">
            <div ng-if="itemTab == 2">
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='slider.name' />
                            <b class="imm-frm__lbl-name">{{ 'SLIDER' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                          <input type="file" id='select_image_slider' ng-model="imagenBase64_slider" base-sixty-four-input >
                            <b class="imm-frm__lbl-name">{{ 'SLIDER IMAGE' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                          <button class="imm-btn" ng-click="agregarImgSlider(imagenBase64_slider);" >Agregar Imagen</button>
                        </label>
                    </div>
                </div>
                <div class="imm-frm__fldgrp" ng-if='slider_img_loading'>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">Loading...</label>
                    </div>
                    <div class="imm-frm__fld"></div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                          <div ng-show="img_slider_show">
                            <img   fallback-src="{{IMG_BASE + img}}" ng-src="{{img_slider}}" style="max-width:100%; height:auto" />
                            <b class="imm-frm__lbl-name">{{ 'IMAGE PREVIEW' }}</b>
                          </div>
                        </label>
                    </div>
                    <div class="imm-frm__fld"></div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <div ckeditor="ckEditorOptions" style="width: 100%" ng-model="slider.html" ></div>
                            <button class="imm-btn" ng-click="addSlider(slider);" style='margin-top: 3em;'>Add slider</button>
                            <b class="imm-frm__lbl-name">{{ 'SLIDER HTML' }}</b>
                        </label>
                    </div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <table class="imm-table">
                                <thead>
                                    <th>Slider</th>
                                    <th>IMAGE</th>
                                    <th>HTML</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='slider in sliderTable'>
                                        <td>{{slider.name}}</td>
                                        <td><img ng-src="{{slider.img}}" width="120px"></td>
                                        <td>{{slider.html}}</td>
                                        <td><a href="javascript:void(0);" ng-click="sliderTable.splice($index);"><img src="assets/images/icons/delete_entry-ico.svg"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- TAB SECTION -->
        <div class="imm-frm__fld">
            <div ng-if="itemTab == 3">
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='section.name' />
                            <b class="imm-frm__lbl-name">{{ 'SECTION' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                          <input type="file" id='select_image_section' ng-model="imagenBase64_section" base-sixty-four-input >
                          
                            <b class="imm-frm__lbl-name">{{ 'SECTION IMAGE' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                          <button class="imm-btn" ng-click="agregarImgSection(imagenBase64_section);" >Agregar Imagen</button>
                        </label>
                    </div>
                </div>
                <div class="imm-frm__fldgrp" ng-if='section_img_loading'>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">Loading...</label>
                    </div>
                    <div class="imm-frm__fld"></div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                          <div ng-show="img_section_show">
                            <img   fallback-src="{{IMG_BASE + img}}" ng-src="{{img_section}}" style="max-width:100%; height:auto" />
                            <b class="imm-frm__lbl-name">{{ 'IMAGE PREVIEW' }}</b>
                          </div>
                        </label>
                    </div>
                    <div class="imm-frm__fld"></div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <div ckeditor="ckEditorOptions" style="width: 100%" ng-model="section.html" ></div>
                            <button class="imm-btn" ng-click="addSection(section);" style='margin-top: 3em;'>Add section</button>
                            <b class="imm-frm__lbl-name">{{ 'SECTION HTML' }}</b>
                        </label>
                    </div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <table class="imm-table">
                                <thead>
                                    <th>Section</th>
                                    <th>image</th>
                                    <th>html</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='section in sectionTable'>
                                        <td>{{section.name}}</td>
                                        <td><img ng-src="{{section.img}}" width="50px"></td>
                                        <td>{{ (section.html | limitTo:150) + "..." }}</td>
                                        <td><a href="javascript:void(0);" ng-click="sectionTable.splice($index, 1);"><img src="assets/images/icons/delete_entry-ico.svg"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- TAB CONTACT FORM-->
        <div class="imm-frm__fld">
            <div ng-if="itemTab == 4">
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='contactEmail.email_to' />
                            <b class="imm-frm__lbl-name">{{ 'EMAIL TO' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='contactEmail.email_from' />
                            <b class="imm-frm__lbl-name">{{ 'EMAIL FROM' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='contactEmail.email_bbc' />
                            <b class="imm-frm__lbl-name">{{ 'EMAIL BBC' }}</b>
                        </label>
                    </div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='contact.name' />
                            <b class="imm-frm__lbl-name">{{ 'NAME' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <select ng-model="contact.type">
                                <option value="textarea">textarea</option>
                                <option value="text">text</option>
                                <option value="email">email</option>
                                <option value="number">number</option>
                                <option value="date">date</option>
                                <option value="password">password</option>
                                <option value="date">date</option>
                            </select>
                            <b class="imm-frm__lbl-name">{{ 'TYPE' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <select ng-model="contact.validation">
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                            <b class="imm-frm__lbl-name">{{ 'VALIDATION' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <button class="imm-btn" ng-click="addContact(contact);">Add field</button>
                    </div>
                </div>

                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <table class="imm-table">
                                <thead>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Validation</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='contact in contactTable'>
                                        <td>{{contact.name}}</td>
                                        <td>{{contact.type}}</td>
                                        <td>{{contact.validate ? 'SI' : 'NO'}}</td>
                                        <td><a href="javascript:void(0);" ng-click="contactTable.splice($index, 1);"><img src="assets/images/icons/delete_entry-ico.svg"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- TAB FOOTER -->
        <div class="imm-frm__fld">
            <div ng-if="itemTab == 5">
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <input type="text" ng-model='footer.name' />
                            <b class="imm-frm__lbl-name">{{ 'FOOTER' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                          <input type="file" id='select_image_footer' ng-model="imagenBase64_footer" base-sixty-four-input >
                          
                            <b class="imm-frm__lbl-name">{{ 'FOOTER IMAGE' }}</b>
                        </label>
                    </div>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                          <button class="imm-btn" ng-click="agregarImgFooter(imagenBase64_footer);" >Agregar Imagen</button>
                        </label>
                    </div>
                </div>
                <div class="imm-frm__fldgrp" ng-if='footer_img_loading'>
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">Loading...</label>
                    </div>
                    <div class="imm-frm__fld"></div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                          <div ng-show="img_footer_show">
                            <img   fallback-src="{{IMG_BASE + img}}" ng-src="{{img_footer}}" style="max-width:100%; height:auto" />
                            <b class="imm-frm__lbl-name">{{ 'IMAGE PREVIEW' }}</b>
                          </div>
                        </label>
                    </div>
                    <div class="imm-frm__fld"></div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <div ckeditor="ckEditorOptions" style="width: 100%" ng-model="footer.html" ></div>
                            <button class="imm-btn" ng-click="addFooter(footer);" style='margin-top: 3em;'>Add footer</button>
                            <b class="imm-frm__lbl-name">{{ 'FOOTER HTML' }}</b>
                        </label>
                    </div>
                </div>
                <div class="imm-frm__fldgrp">
                    <div class="imm-frm__fld">
                        <label class="imm-frm__lbl">
                            <table class="imm-table">
                                <thead>
                                    <th>Footer</th>
                                    <th>image</th>
                                    <th>html</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='footer in footerTable'>
                                        <td>{{footer.name}}</td>
                                        <td><img ng-src="{{footer.img}}" width="50px"></td>
                                        <td>{{ (footer.html | limitTo:150) + "..." }}</td>
                                        <td><a href="javascript:void(0);" ng-click="footerTable.splice($index, 1);"><img src="assets/images/icons/delete_entry-ico.svg"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="imm-wa__actions">
    <p ng-if="error" class="err-display">{{error}} {{ 'general.cant_be_empty' | translate }}</p>
    <button class="imm-btn imm-btn--alt" ui-sref="app.easyWebs">{{ 'bills.back' | translate }}</button>
    <button class="imm-btn" ng-disabled="sendingData" ng-click="save()">{{ 'bills.save' | translate }}</button>
</div>