<div class="imm-wa__hdr imm-flex">
  <div class="imm-flex-5">
    <h1 class="imm-wa__tit">
      <a class="imm-bc-item">{{ 'EasyWebs Builder' }}</a>
    </h1>
    <div class="imm-btn__right">
      <a ui-sref="app.easyWebNew" class="imm-btn imm-btn--round">&#43; {{ 'New web' }}</a>
    </div>
  </div>
</div>

<div class="imm-wa__cnt">
  <table>
    <thead>
      <tr>
        <th>{{ 'bills.id' | translate }}</th>
        <th>{{ 'Nombre' | uppercase }}</th>
        <th>{{ 'Dominio' | uppercase }}</th>
        <th>{{ 'Developer' | uppercase }}</th>
        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input class="field-filter" ng-model="filter.id"></td>
        <td><input class="field-filter" ng-model="filter.name"></td>
        <td><input class="field-filter" ng-model="filter.dominio"></td>
        <td><input class="field-filter" ng-model="filter.developer"></td>
        <td></td>
      </tr>
      <tr ng-repeat="bill in easywebs | filter: filter">
        <td>{{bill.id}}</td>
        <td>{{bill.name}}</td>
        <td>{{bill.domain}}</td>
        <td>{{bill.developer}}</td>
        <td>
          <a ui-sref="app.easyWebEdit({id: bill.id})">
            <i class="ri-edit-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<!-- End Bar Graph -->
