<div class="imm-status">
    <span ng-show="{{showIcon}}" ng-if="value == 0" class="imm-status__text imm-status__text--other"></span> <span ng-show="{{showLabels}}" ng-if="value == 0"> Status 0 </span>
    <span ng-show="{{showIcon}}" ng-if="value == 1" class="imm-status__text imm-status__text--pending"></span> <span ng-show="{{showLabels}}" ng-if="value == 1"> Pendiente </span>
    <span ng-show="{{showIcon}}" ng-if="value == 2" class="imm-status__text imm-status__text--authorized"></span> <span ng-show="{{showLabels}}" ng-if="value == 2"> Autorizado </span>
    <span ng-show="{{showIcon}}" ng-if="value == 3" class="imm-status__text imm-status__text--denied"></span> <span ng-show="{{showLabels}}" ng-if="value == 3"> Denegado </span>
    <span ng-show="{{showIcon}}" ng-if="value == 4" class="imm-status__text imm-status__text--created"></span> <span ng-show="{{showLabels}}" ng-if="value == 4"> Creado </span>
    <span ng-show="{{showIcon}}" ng-if="value == 5" class="imm-status__text imm-status__text--pending"></span> <span ng-show="{{showLabels}}" ng-if="value == 5"> Pendiente </span>
    <span ng-show="{{showIcon}}" ng-if="value == 6" class="imm-status__text imm-status__text--other"></span> <span ng-show="{{showLabels}}" ng-if="value == 6"> TODO 6 </span>
</div>