<div class="imm-select-status" ng-class="{'active': active}" ng-click="setActive()">
    <div class="imm-select-status__selected imm-status">
        <span ng-if="model == undefined" class="imm-status__text imm-status__text--other">Elija uno</span>
        <span ng-if="model == 0" class="imm-status__text imm-status__text--other">Status 0</span>
        <span ng-if="model == 1" class="imm-status__text imm-status__text--pending">Pendiente</span>
        <span ng-if="model == 2" class="imm-status__text imm-status__text--authorized">Autorizado</span>
        <span ng-if="model == 3" class="imm-status__text imm-status__text--denied">Denegado</span>
        <span ng-if="model == 4" class="imm-status__text imm-status__text--created">Creado</span>
        <span ng-if="model == 5" class="imm-status__text imm-status__text--pending">Pendiente</span>
        <span ng-if="model == 6" class="imm-status__text imm-status__text--other">TODO 6</span>
    </div>
    <div class="imm-select-status__dropdown imm-status">
        <div ng-click="setValue(0)" class="imm-status__text imm-status__text--other">Status 0</div>
        <div ng-click="setValue(1)" class="imm-status__text imm-status__text--pending">Pendiente</div>
        <div ng-click="setValue(2)" class="imm-status__text imm-status__text--authorized">Autorizado</div>
        <div ng-click="setValue(3)" class="imm-status__text imm-status__text--denied">Denegado</div>
        <div ng-click="setValue(4)" class="imm-status__text imm-status__text--created">Creado</div>
        <div ng-click="setValue(5)" class="imm-status__text imm-status__text--pending">Pendiente</div>
        <div ng-click="setValue(6)" class="imm-status__text imm-status__text--other">TODO 6</div>
    </div>
</div>