<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            <a class="imm-bc-item" ui-sref="app.clients">{{ 'clients.title' | translate }}</a>
        </h1>
        <div class="imm-btn__right">
            <a ui-sref="app.clientNew" class="imm-btn imm-btn--round">&#43; {{ 'clients.client' | translate }}</a>
        </div>
    </div>
</div>
<div class="imm-wa__cnt">
    <table>
        <thead>
            <tr>
                <th>{{ 'clients.id' | translate }}</th>
                <th>{{ 'clients.name' | translate }}</th>
                <th>{{ 'clients.company' | translate }}</th>
                <th class="imm-cstm__grid-5"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="field-filter" ng-model="filter.id"></td>
                <td><input class="field-filter" ng-model="filter.name"></td>
                <td><input class="field-filter" ng-model="filter.company"></td>
                <td></td>
            </tr>
            <tr ng-repeat="client in clients | filter: filter">
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.company}}</td>
                <td>
                    <a ui-sref="app.clientEdit({id: client.id})">
                        <i class="ri-edit-line"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<paging
    ng-show="total>pageSize"
    page="currentPage"
    page-size="pageSize"
    total="total"
    hide-if-empty="true"
    show-prev-next="true"
    show-first-last="true"
    paging-action="pager(page)">
</paging>