
<div class="preload" ng-show="loading" 
style="display: flex; justify-content:center; position: fixed;width: 100%;height: 100vh;background-color: #7a78782e;z-index: 10000; left:0;top:0">
  <img style=" width: 3%" src="assets/images/spinner.svg"></i></div>
<div class="imm-modal__cnt">
  <div class="imm-frm__fldgrp">

    <div style="width: 150px;" ng-if="userRole=='admin' || userRole == 'pm' ">
      <label class="imm-frm__lbl">
        <b class="imm-frm__lbl-name">{{ 'calendar.user' | translate }}</b>
        <ui-select 
        ng-model="filter.user" 
        class="imm-select imm-select--input" 
        theme="selectize"
        title="{{ 'calendar.users' | translate }}" append-to-body="true"
        on-select= 'callCalendar()'>
          <ui-select-match> {{$select.selected.name}} </ui-select-match>
          <ui-select-choices repeat="user.id as user in users | filter: $select.search">
            <div ng-bind-html="user.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </label>
    </div>
  </div>
</div>
</br>
</br>
<div class="new-title-calendar">{{currentMonthText}}</div>
<div class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar='calendar' >
