<div class="imm-modal imm-modal--medium" >

  <div class="imm-modal__header">
    <div class="imm-modal__title" style="margin-bottom: 1%;">Editar horario
      <button type="button" class="btn btn-primary" style="float: right;" ng-click="addEvent()"> + 
      </button>
    </div> 

  </div>
  <div class="imm-modal__cnt">
    <div>
      <form>
        <div class="imm-frm__fldgrp">
          <div class="imm-frm__fld">
            <label style="float: left;">{{selectedDay}}</label>
            <label style="float: right;">Hoy {{todayIs}}</label>
       <br>
       <br>
          </div>
        </div>
       <!-- MOSTRAR TODOS LOS EVENTOS DENTRO DE UN DIA -->
      <ul>
        <li ng-repeat="e in eventSources" ng-if="e.dayCheck == checkDate">
          <div class="imm-frm__fldgrp">
            <div class="imm-frm__fld">
                <a  ng-click="remove($index)"><i class="icon-remove"></i></a>
                <b> <input ng-model="e.title"></b> 
            </div>

            <div class="imm-frm__fld" moment-picker='e.hourStart' format="HH:mm" change='selectedDates(e, parseDate, date)' >
              <input type='text' ng-model='e.hourStart'placeholder="Hora Inicial">
            </div>
            <div class="imm-frm__fld" moment-picker="e.hourEnd" format="HH:mm" change='selectedDates(e, parseDate, date)'>
              <input type='text' ng-model='e.hourEnd'  placeholder="Hora Final">
            </div>
            <a class="close" ng-click="remove($index)"><img src="assets/images/icons/delete_entry-ico.svg"></i></a>
          </div>
        </li>

      </ul>

      </form>
    </div>
  </div>

  <div class="imm-modal__actions">
        <p class="err-display">{{error}}</p>
        <a class="imm-btn imm-btn--alt" ng-click="ngDialogData.cancel()">{{ 'shared.modal.cancel' | translate }}</a>
        <a class="imm-btn" ng-click="ngDialogData.confirm()">{{ 'shared.modal.accept' | translate }}</a>
    </div>
</div>

