<div class="lexart-modal lexart-modal--medium">

  <div class="lexart-modal__header">
    <h1 class="lexart-modal__title" style="margin-bottom: 1%;">Agregar Tablero de Trello</h1>
  </div>
  <div class="lexart-modal__cnt">
    <div>
      <form>
       <label>Proyecto:</label><br>
       <ui-select append-to-body="true" class="lexart-select lexart-select--input" theme="selectize" ng-model="selected.value">
        <ui-select-match placeholder="Seleccionar Proyecto">
            {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="item in getProjects | filter: $select.search">
            <span ng-bind-html="item.name | highlight: $select.search" ></span>
        </ui-select-choices>
      </ui-select>
       <label>Board Trello:</label><br>
       <ui-select append-to-body="true" class="lexart-select lexart-select--input" theme="selectize" ng-model="selected.url">
        <ui-select-match placeholder="Seleccionar Tablero">
            {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="board in boards | filter: $select.search">
            <span ng-bind-html="board.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      </form>
    </div>
  </div>
  <div class="lexart-modal__actions">
        <p class="err-display">{{error}}</p>
        <a class="lexart-btn lexart-btn--alt" ng-click="ngDialogData.cancel()">{{ 'shared.modal.cancel' | translate }}</a>
        <a class="lexart-btn" ng-click="ngDialogData.confirm()">{{ 'shared.modal.accept' | translate }}</a>
    </div>
</div>

