<div class="imm-modal imm-modal--medium">

  <div class="imm-modal__header">
    <h1 class="imm-modal__title">{{name}} - {{project}}</h1>
    <a class="imm-modal__close-btn" ng-click="closeThisDialog()">
      <i class="imm-icon imm-icon--modal-close"></i>
    </a>
  </div>

  <div class="imm-modal__cnt">
    <ng-form>
      <form class="imm-frm">
        <div class="imm-frm__fldgrp">
          <div class="imm-frm__fld">
            <label class="imm-frm__lbl">
              <input type="text" ng-model="task_trello.name">
              <!-- <span style="width: 10px;"><input type="number" min="0" class="f-hour" " placeholder="hhhh" string-to-number ng-model="duration.hours" ng-if="isAdmin=='false' && isClient=='false'" readonly ><input type="number" min="0" max="59" class="f-minute"  " placeholder="mm"  ng-model="duration.minutes" ng-if="isAdmin=='false' && isClient=='false'" readonly><input type="number" min="0" max="59" class="f-second"  " placeholder="ss"  ng-model="duration.seconds" ng-if="isAdmin=='false' && isClient=='false'" readonly ></span>
              <span style="width: 10px;"><input type="number" min="0" class="f-hour" " placeholder="hhhh" string-to-number ng-model="duration.hours" ng-if="isAdmin=='true' || isClient=='true'"  ><input type="number" min="0" max="59" class="f-minute"  " placeholder="mm"  ng-model="duration.minutes"  ng-if="isAdmin=='true' || isClient=='true'"  ><input type="number" min="0" max="59" class="f-second"  " placeholder="ss"  ng-model="duration.seconds"  ng-if="isAdmin=='true' || isClient=='true'"   ></span> -->

              <b class="imm-frm__lbl-name">{{ 'tasks_trello.name' | translate }}</b>
            </label>
          </div>
          <div class="imm-frm__fld">
            <label class="imm-frm__lbl">
              <ui-select append-to-body="true" class="imm-select imm-select--input" theme="selectize"  ng-model="selected.value.id">
                <ui-select-match placeholder={{task_trello.status}}>
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="item in jsonObj | filter: $select.search track by item.id">
                    <span ng-bind="item.name"></span>
                </ui-select-choices>
              </ui-select>

          <b class="imm-frm__lbl-name">{{ 'tasks_trello.status' | translate }} <span class="required">*</span></b>
        </label>

      </div>

        </div>

        <div class="imm-frm__fldgrp">
          <div class="imm-frm__fld">
            <label class="imm-frm__lbl">
              <!--<input type="text" ng-model="task.description">-->
              <input rows="7" cols="50" ng-model="task_trello.card_id" ng-if="isAdmin=='false' && isClient=='false'" readonly>
              <input rows="7" cols="50" ng-model="task_trello.card_id" ng-if="isAdmin=='true' || isClient=='true'">
              <b class="imm-frm__lbl-name">{{ 'tasks_trello.card_id' | translate }}</b>
            </label>
          </div>
    <div class="imm-frm__fld">
      <label class="imm-frm__lbl">
        <input type="text" ng-model="task_trello.idboard">
        <!-- <span style="width: 10px;"><input type="number" min="0" class="f-hour" " placeholder="hhhh" string-to-number ng-model="duration.hours" ng-if="isAdmin=='false' && isClient=='false'" readonly ><input type="number" min="0" max="59" class="f-minute"  " placeholder="mm"  ng-model="duration.minutes" ng-if="isAdmin=='false' && isClient=='false'" readonly><input type="number" min="0" max="59" class="f-second"  " placeholder="ss"  ng-model="duration.seconds" ng-if="isAdmin=='false' && isClient=='false'" readonly ></span>
        <span style="width: 10px;"><input type="number" min="0" class="f-hour" " placeholder="hhhh" string-to-number ng-model="duration.hours" ng-if="isAdmin=='true' || isClient=='true'"  ><input type="number" min="0" max="59" class="f-minute"  " placeholder="mm"  ng-model="duration.minutes"  ng-if="isAdmin=='true' || isClient=='true'"  ><input type="number" min="0" max="59" class="f-second"  " placeholder="ss"  ng-model="duration.seconds"  ng-if="isAdmin=='true' || isClient=='true'"   ></span> -->

        <b class="imm-frm__lbl-name">ID Tablero</b>
      </label>
    </div>

  </div>

        <div class="imm-frm__fldgrp">
          <div class="imm-frm__fld">
            <label class="imm-frm__lbl">
              <!--<input type="text" ng-model="task.description">-->
              <textarea rows="7" cols="50" ng-model="task_trello.description" ng-if="isAdmin=='false' && isClient=='false'" readonly></textarea>
              <textarea rows="7" cols="50" ng-model="task_trello.description" ng-if="isAdmin=='true' || isClient=='true'"></textarea>
              <b class="imm-frm__lbl-name">{{ 'tasks_trello.description' | translate }}</b>
            </label>
          </div>
  </form>
</ng-form>
</div>

<div class="imm-modal__actions">
  <p class="err-display">{{error}}</p>
  <a class="imm-btn imm-btn--alt" ng-click="ngDialogData.cancel()">{{ 'shared.modal.cancel' | translate }}</a>
  <a class="imm-btn" ng-disabled="sendingData || !task_trello.name" ng-click="ngDialogData.confirm()">{{ 'shared.modal.accept' | translate }}</a>
</div>
</div>
