<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            <a class="imm-bc-item" ui-sref="app.dashboardTasks">{{ 'navigation.tasks' | translate }}</a>
        </h1>
        <div class="imm-bc">
            <a class="imm-bc-item">{{ 'navigation.tasks_trello' | translate }}</a>
        </div>
    </div>
     <div class="imm-btn__right">
        <button style="background-color: steelblue; color: white; cursor: pointer;" ng-click="addBoard()">Add board</button>
    </div>
</div>
<div style="text-align: center; background-color: steelblue; font-weight: bold; color:white; margin-bottom: 10px;">To capture boards you need to add lexart.brain into your Trello board.<a href='javascript:void(0)' ng-click="tutorialBot()" style="text-decoration: underline; margin-left: 4px;">Step by step</a></div>
<div class="imm-wa__cnt">
    <table>
        <thead>
            <tr>
                <th style="width: 6%;">{{ 'tasks_trello.id' | translate }}</th>
                <th>{{ 'tasks_trello.projectName' | translate }}</th>
                <th>{{ 'tasks_trello.shortUrl' | translate }}</th>
                <th class="imm-cstm__grid-5"></th>
                <th class="imm-cstm__grid-5"></th>
                <th class="imm-cstm__grid-5"></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="field-filter" ng-model="filter.id"></td>
                <td><input class="field-filter" ng-model="filter.projectName"></td>
                <td><input class="field-filter" ng-model="filter.url"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="(index,task_trello) in tasks_trello" ng-class="{'active-task_trello': currentTrack.idtask_trello == task_trello.id}" ng-style="task_trello.status == 'Done' && {'background-color':'#3b0'}  || task_trello.status == 'In-Review' && {'background-color':'#AE2E2E'} || task_trello.status == 'In-Progress' && {'background-color':'#ccad16'}">
                <td title="{{task_trello.id}}">{{task_trello.id | truncateTail:true:30:'...'}}</td>
                <td>{{task_trello.projectName}}</td>
                <td>{{task_trello.url}}</td>
                <td>                        
                    <a href="" ui-sref="app.tasks_trelloEdit({id: task_trello.id})">
                        <i class="far fa-eye" style="font-size: 13px;color: #4a90e2;"></i>                    
                    </a>
                </td>
                <td>
                    <a href="" ng-click="editBoard(task_trello)">
                        <img src="assets/images/icons/pencil-ico.svg">
                    </a>
                </td>
                <td>
                    <a ng-click="deleteBoard(task_trello)">
                        <i class="fas fa-window-close" style="color:red;font-size: 13px; margin-left:10px;cursor: pointer;"></i>                  
                      </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<paging
    ng-show="total>pageSize"
    page="currentPage"
    page-size="pageSize"
    total="total"
    hide-if-empty="true"
    show-prev-next="true"
    show-first-last="true"
    scroll-top="true"
    paging-action="pager(page)">
</paging>
