<div class="lexart-wa__hdr lexart-flex">
    <div class="lexart-flex-5">
        <h1 class="lexart-wa__tit">
            <a class="lexart-bc-item" ui-sref="app.dashboardTasks">{{ 'navigation.tasks' | translate }}</a>
        </h1>
        <div class="lexart-bc">
            <a class="lexart-bc-item">{{ 'navigation.tasks_trello' | translate }}</a>
        </div>
    </div>
     <div class="lexart-btn__right">
        <button class="lexart-btn" ng-click="addBoard()">Agregar Tablero</button>
    </div>
</div>
<div class="lexart_select_conatiner_proyect" style="text-align: center;">Para capturar tableros necesita agregar dentro de su tablero de Trello a lexart.brain. <a href='javascript:void(0)' ng-click="tutorialBot()" style="text-decoration: underline;"> Ver paso a paso</a></div>
<div class="lexart-wa__cnt">
    <table class="lexart-table">
        <thead>
            <tr>
                <th style="width: 6%;">{{ 'tasks_trello.id' | translate }}</th>
                <th>{{ 'tasks_trello.projectName' | translate }}</th>
                <th>{{ 'tasks_trello.shortUrl' | translate }}</th>
                <th class="lexart-cstm__grid-5"></th>
                <th class="lexart-cstm__grid-5"></th>
                <th class="lexart-cstm__grid-5"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="field-filter" ng-model="filter.id"></td>
                <td><input class="field-filter" ng-model="filter.projectName"></td>
                <td><input class="field-filter" ng-model="filter.url"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="(index,task_trello) in tasks_trello" ng-class="{'active-task_trello': currentTrack.idtask_trello == task_trello.id}" ng-style="task_trello.status == 'Done' && {'background-color':'#a9e892'}  || task_trello.status == 'In-Review' && {'background-color':'#f08b8b'} || task_trello.status == 'In-Progress' && {'background-color':'#f2ecb8'}">
                <td title="{{task_trello.id}}">{{task_trello.id | truncateTail:true:30:'...'}}</td>
                <td>{{task_trello.projectName}}</td>
                <td>{{task_trello.url}}</td>
                <td>                        
                    <a href="" ui-sref="app.tasks_trelloEdit({id: task_trello.id})">
                        <i class="ri-search-2-line"></i>                    
                    </a>
                </td>
                <td>
                    <a href="" ng-click="editBoard(task_trello)">
                        <i class="ri-edit-line"></i>
                    </a>
                </td>
                <td>
                    <a ng-click="deleteBoard(task_trello)">
                        <i class="ri-close-line"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<paging
    ng-show="total>pageSize"
    page="currentPage"
    page-size="pageSize"
    total="total"
    hide-if-empty="true"
    show-prev-next="true"
    show-first-last="true"
    scroll-top="true"
    paging-action="pager(page)">
</paging>
