<wizard class="lexart-modal lexart-modal--medium" hide-indicators="true" on-finish="finishedWizard()" on-cancel="cancelledWizard()" style="background-color: white; border: 1px solid gray; border-radius: 5px; padding: 10px; width: 100%;"> 
    <wz-step class="lexart-modal__header" style="text-align: center; padding-top: 10px; width: 100%; margin-bottom: 0%;">
        <h1 style=" margin-bottom: 0%; border: black 1px solid; border-bottom: none; text-align: center; background-color: steelblue; height: 40px; padding-top: 8px; color: white; width: 102%">Añadir una etiqueta</h1>
        <img style="margin-bottom: 0%; width: 102%; border-left: 1px black solid; border-right: 1px black solid;" src="https://i.ibb.co/Dtjw4bt/paso1.png" alt="paso1"><br>
        <p style="background-color: #000000d6;padding: 10px;color: #e2e2e2;width: 102%; margin-top: -2%;">Selecciona o añade la list a editar vinculada al tracking (Ejemplo Tarea en la imagen)</p>
        <input type="submit" class="lexart-btn" style="margin-top: 10px;" wz-next value="Siguiente" />
    </wz-step>
    <wz-step class="lexart-modal__header" style="text-align: center;">
        <h1 style=" margin-bottom: 0%; border: black 1px solid; border-bottom: none; text-align: center; background-color: steelblue; height: 40px; padding-top: 8px; color: white; width: 102%">Añadir una etiqueta</h1>
        <img style="margin-bottom: 0%; width: 102%; border-left: 1px black solid; border-right: 1px black solid;" src="https://i.ibb.co/8B2D4Sw/paso2.png" alt="paso2"><br>
        <p style="background-color: #000000d6;padding: 10px;color: #e2e2e2;width: 102%; margin-top: -2%;">A la derecha selecciona Labels o Etiquetas</p>
        <input type="submit" class="lexart-btn" style="margin-top: 10px;" wz-previous value="Volver" />
        <input type="submit" class="lexart-btn" style="margin-top: 10px;" wz-next value="Siguiente" />
    </wz-step>
    <wz-step class="lexart-modal__header" style="text-align: center;">
        <h1 style=" margin-bottom: 0%; border: black 1px solid; border-bottom: none; text-align: center; background-color: steelblue; height: 40px; padding-top: 8px; color: white; width: 102%">Añadir una etiqueta</h1>
        <img style="margin-bottom: 0%; width: 102%; border-left: 1px black solid; border-right: 1px black solid;" src="https://i.ibb.co/1fT39z3/paso3.png" alt="paso3"><br>
        <div style="background-color: #000000d6;padding: 10px;color: #e2e2e2;width: 102%; margin-top: -2%;">
        <p>Elegir la Etiqueta o Label que coincida con el estado de la tarea. </p>
        <p>No editar las etiquetas, son generadas automaticamente por el tracking.</p>
        <p>(Editarlas hará que se reinicien TODAS las del tablero, modificando las etiquetas de otras cards)</p>
        </div>
        <input type="submit" class="lexart-btn" style="margin-top: 10px;" wz-previous value="Volver" />
    </wz-step>
    <input class="lexart-btn lexart-btn--alt" style="margin-top: 10px; float: right;" type="submit" ng-click="ngDialogData.cancel()" value="Cerrar" />
</wizard>