<div class="lexart-wa__hdr lexart-flex">
    <div class="lexart-flex-5">
        <h1 class="lexart-wa__tit">
            <a class="lexart-bc-item" ui-sref="app.tasks">{{ 'tasks.task' | translate }}</a>
        </h1>
        <div class="lexart-bc" ng-if="task.projectName">
            <span class="lexart-bc-item lexart-bc--head">{{task.projectName}}</span>
        </div>
        <div class="lexart-bc" ng-if="task.name">
            <span class="lexart-bc-item lexart-bc--head">{{task.name}}</span>
        </div>
    </div>
</div>
<div class="lexart-wa__cnt">
    <form class="lexart-frm lexart-frm--center">
        <div class="lexart-frm__fldgrp">
            <div class="lexart-frm__fld">
                <label class="lexart-frm__lbl">
                <input ng-model="task.projectName" readonly>
                <b class="lexart-frm__lbl-name">{{ 'tasks.projectName' | translate }} <span class="required">*</span></b>
                </label>
            </div>

            <div class="lexart-frm__fld">
                <label class="lexart-frm__lbl">
                    <input type="text" ng-model="task.name">
                    <b class="lexart-frm__lbl-name">{{ 'tasks.name' | translate }} <span class="required">*</span></b>
                </label>
            </div>

            <div class="lexart-frm__fld">
                <label class="lexart-frm__lbl">
                    <!--<input type="text" ng-model="project.duration">-->
                    <span style="width: 10px;"><input type="number" placeholder="Horas" min="0" class="f-hour" string-to-number ng-model="task.hour" ><input type="number" placeholder="Minutos" min="0" max="59" class="f-minute" ng-model="task.mins"><input type="number" placeholder="Segundos" min="0" max="59" class="f-second" ng-model="task.secs"></span>
                    <b class="lexart-frm__lbl-name">{{ 'tasks.duration' | translate }} <span class="required">*</span></b>
                </label>
            </div>

        </div>
        <div class="lexart-frm__fldgrp">
            <div class="lexart-frm__fld">
                <label class="lexart-frm__lbl">
                    <input type="text" ng-model="task.status" ng-if="isAdmin=='false' && task.status=='Done'" readonly>

                    <ui-select
                    ng-model="task.status"
                    class="lexart-select lexart-select--input"
                    theme="selectize"
                    append-to-body="true"
                    >
                    <ui-select-match>
                      {{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices repeat="client in allStatus ">
                      <div ng-bind-html="client | highlight: $select.selected"></div>
                    </ui-select-choices>
                  </ui-select>

                  <b class="lexart-frm__lbl-name">{{ 'tasks.status' | translate }} <span class="required">*</span></b>
                </label>
            </div>
                <div class="lexart-frm__fld">
                    <label class="lexart-frm__lbl">
                      <div moment-picker="task.startDate">
                        <input ng-model="task.startDate">
                      </div>
                      <b class="lexart-frm__lbl-name">{{ 'Fecha Inicio'  }} <span class="required">*</span></b>
                    </label>
                </div>
                <div class="lexart-frm__fld">
                    <label class="lexart-frm__lbl">
                      <div moment-picker="task.endDate">
                        <input ng-model="task.endDate">
                      </div>
                      <b class="lexart-frm__lbl-name">{{ 'Fecha Fin' }} <span class="required">*</span></b>
                    </label>
                </div>
        </div>
    <div class="lexart-frm__fldgrp">
      <div class="lexart-frm__fld">
            <label class="lexart-frm__lbl">
                <!--<input type="text" ng-model="project.description">-->
                <textarea rows="7" cols="50" ng-model="task.description">

                </textarea>
                <b class="lexart-frm__lbl-name">{{ 'tasks.description' | translate }}</b>
            </label>
        </div>

        <div class="lexart-frm__fld">
        <button type="button"  class="lexart-btn" ng-click="openModalComentario()">Agregar Comentario</button>
        </div>
    </div>
        <div class="lexart-frm__fldgrp">
            <div class="lexart-frm__fld">
              <table ng-show="comments.length>0">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ 'Usuario'}}</th>

                <th>{{ 'projects.comments' | translate }}</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(index,comment) in comments">
                <td>{{index+1}}</td>
                <td>{{comment.userName}}</td>

                <td>{{comment.comment}}</td>
                <td>
                  <a ng-click="editComments(index,comment)">
                    <i class="ri-edit-line"></i>
                  </a>
                </td>
                <td>
                  <a ng-click="deleteComment(index)" ng-if="userRole=='admin'">
                    <img src="assets/images/icons/delete_entry-ico.svg">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="lexart-frm__fldgrp">
      <table rows="7">
        <thead>
          <tr>
            <th>{{ 'projects.id' | translate }}</th>
            <th>{{ 'projects.name' | translate }}</th>
            <th>{{ 'projects.assign' | translate }}</th>
            <th ng-click="toggleSelectUsers($event)" class="toggleSelectUsersCursor">-</th>
          </tr>
        </thead>
        <tbody class="">
          <tr>
            <th></th>
            <th style="width:100%;"><input class="field-filter" ng-model="search.name"></th>
            <th></th>
            <th></th>
          </tr>
          <tr ng-repeat="user in users | filter:search">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>
              <input type="checkbox" ng-model="usersAux[user.id]"   >

            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    </form>
</div>

<div class="lexart-wa__actions">
    <p ng-if="error" class="err-display">{{error}}</p>
    <a class="closeForm"><button class="lexart-btn lexart-btn--alt">{{ 'general.back' | translate }}</button></a>
    <a class="closeForm"><button class="lexart-btn " ng-disabled="sendingData" ng-click="save()">{{ 'general.save' | translate }}</button></a>
</div>
