<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            <a class="imm-bc-item" ui-sref="app.dashboardTasks">{{ 'Tareas' }}</a>
        </h1>
        <div class="imm-bc">
            <a class="imm-bc-item">{{ 'Tareas Manuales' }}</a>
        </div>
    </div>
</div>
<div class="imm-wa__cnt">
    <table>
        <thead>
            <tr>
                <th>{{ 'tasks.project' | translate }}</th>
                <th>{{ 'tasks.task' | translate }}</th>
                <th>{{ 'tasks.description' | translate }}</th>
                <th>{{ 'tasks.duration' | translate }}</th>
                <th>{{ 'tasks.status' | translate }}</th>

                <th class="imm-cstm__grid-5"></th>
                <th class="imm-cstm__grid-5"></th>
                <th class="imm-cstm__grid-5"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="field-filter" ng-model="filter.projectName"></td>
                <td><input class="field-filter" ng-model="filter.name"></td>
                <td><input class="field-filter" ng-model="filter.description"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr ng-repeat="(index,task) in tasks" ng-class="{'active-task': currentTrack.idTask == task.id}" ng-style="task.status == 'Done' && {'background-color':'#3b0'}  || task.status == 'In-Review' && {'background-color':'#AE2E2E'} || task.status == 'In-Progress' && {'background-color':'#ccad16'}">
                <td title="{{task.projectName}}">{{task.projectName | truncateTail:true:30:'...'}}</td>
                <td title="{{task.name}}">{{task.name | truncateTail:true:30:'...'}}</td>
                <td title="{{task.description}}">{{task.description | truncateTail:true:45:'...'}}</td>
                <td>{{task.duration}}</td>
                <td>{{task.status}}</td>
                <td>
                     <a href="" ng-click="editTask(index,task)" ><img class="img_stop" src="/assets/images/icons/details-ico-blue.svg"></a>
                </td>
                <td>
                    <a ui-sref="app.taskForm({id: task.id})">
                        <img src="assets/images/icons/pencil-ico.svg">
                    </a>
                </td>
                <!-- <td ng-if="isAdmin=='false' && isClient=='false'">
                    <a href="" ng-click="editTask(index,task)">
                        <img src="assets/images/icons/details-ico-blue.svg">
                    </a>
                </td> -->
                <td ng-if="task.status != 'Done' && task.status != 'In-Review' && isClient=='false' ">
                    <a href ng-click="stopTrack()" ng-if="currentTrack.idTask == task.id"><img class="img_stop" src="/assets/images/stop.png"></a>
                    <a href ng-click="startTrack(task)" ng-if="currentTrack.idTask != task.id"><img class="img_play" src="/assets/images/play.png"></a>
                </td>
                <td ng-if="isClient=='true'"></td>
                <td ng-if="task.status == 'Done' || task.status == 'In-Review' && isClient=='false'"></td>
            </tr>
        </tbody>
    </table>
</div>

<paging
    ng-show="total>pageSize"
    page="currentPage"
    page-size="pageSize"
    total="total"
    hide-if-empty="true"
    show-prev-next="true"
    show-first-last="true"
    scroll-top="true"
    paging-action="pager(page)">
</paging>
