<div class="lexart-modal lexart-modal--medium">
    <div class="lexart-modal__header">
        <h1 class="lexart-modal__title">{{ 'shared.modal.cancel' | translate }}</h1>
        <a class="lexart-modal__close-btn" ng-click="closeThisDialog()"><i class="lexart-icon lexart-icon--modal-close"></i></a>
    </div>

    <div class="lexart-modal__cnt">
        <p ng-if="ngDialogData.msg">{{ ngDialogData.msg }}</p>
        <p ng-if="!ngDialogData.msg">{{ 'shared.modal.confirm_cancel' | translate }}</p>
    </div>
    
    <div class="lexart-modal__actions">
        <p class="err-display">{{error}}</p>
        <a class="lexart-btn lexart-btn--alt" ng-click="closeThisDialog()">{{ 'shared.modal.cancel' | translate }}</a>
        <a class="lexart-btn" ng-click="ngDialogData.confirm();closeThisDialog()">{{ 'shared.modal.accept' | translate }}</a>
    </div>
</div>