<div class="lexart-menu__wrp" ng-class="{'lexart-menu__collapsed': thisHide == true}">
    <nav class="lexart-menu__nav" >
        <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
            <span></span>
            <span></span>
            <span></span>
            </button>
            <a href="#">
            <h4>Lex<span>Tracking</span></h4>
            </a>
        </div>
        <a href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected" ui-sref="app.dashboard">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-home-line"></i> <span ng-show="!thisHide">{{ 'navigation.dashboard' | translate }}</span>
        </a>
        
        <a href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected" ui-sref="app.calendar">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-calendar-line"></i> <span ng-show="!thisHide">{{ 'navigation.calendar' | translate }}</span>
        </a>
        <a ng-if="isAdmin == 'true' || userRole == 'pm'" href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected" ui-sref="app.users">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-user-line"></i> <span ng-show="!thisHide">{{ 'navigation.users' | translate }}</span>
        </a>
        <a ng-if="userRole == 'developer'" ui-sref="app.userEdit({id:userId})"" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-user-settings-line"></i> <span ng-show="!thisHide">{{ 'navigation.my-profile' | translate }}</span>
        </a>
        <a ng-if="isAdmin == 'true' || userRole == 'pm' " href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected" ui-sref="app.clients">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-user-shared-line"></i> <span ng-show="!thisHide">{{ 'navigation.clients' | translate }}</span>
        </a>
        <a href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected" ui-sref="app.projects">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-briefcase-line"></i> <span ng-show="!thisHide">{{ 'navigation.projects' | translate }}</span>
        </a>
        <div ng-if="userRole != 'clients'" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-task-line"></i> <span ng-show="!thisHide">{{ 'navigation.tasks' | translate }}</span>
            <div class="lexart-hover_menu">
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.tasks"><span>{{ 'Tareas Manuales' }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.tasks_automatic"><span>{{ 'navigation.tasks_automatic' | translate }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.tasks_trello"><span>{{ 'navigation.tasks_trello' | translate }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.jira"><span>{{ 'navigation.jira' | translate }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.taskManager"><span>{{ 'navigation.taskManager' | translate }}</span></a>
                </div>
            </div>
        </div>
        <a  href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected" ui-sref="app.reports">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-bar-chart-line"></i> <span ng-show="!thisHide">{{ 'Reportes' }}</span>
        </a>
        <div ng-if="isAdmin == 'true'"  href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-folder-open-line"></i> <span ng-show="!thisHide">{{ 'CRM'}}</span>
            <div class="lexart-hover_menu">
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.banks"><span>{{ 'navigation.bank' | translate }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.finances"><span>{{ 'navigation.finance' | translate }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.sales"><span>{{ 'navigation.sale' | translate }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.weeklyHours"><span>{{ 'navigation.weeklyHour' | translate }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.reports"><span>{{ 'Reportes' }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.evaluate"><span>{{ 'Evaluaciones' }}</span></a>
                </div>
            </div>
        </div>
        <div ng-if="isAdmin == 'true'"  href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected">
            <!-- <b></b>
            <b></b> -->
            <i class="ri-google-play-line"></i> <span ng-show="!thisHide">{{ 'APP’s'}}</span>
            <div class="lexart-hover_menu">
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.easyWebs"><span>{{ 'Easy Webs' }}</span></a>
                </div>
                <div class="lexart-hover_menu-item">
                    <a ui-sref="app.hosting"><span>{{ 'Hosting' }}</span></a>
                </div>
            </div>
        </div>

        <a href="#" class="lexart-menu__nav-item" ui-sref-active="lexart-menu__nav-item--selected" ui-sref="app.paymentRequests">
            <i class="ri-refund-2-line"></i> <span ng-show="!thisHide">{{ 'navigation.payment_requests' | translate }}</span>
        </a>

        

    </nav>
    <div class="navbar_btn_container">
        <!-- <button class="lexart-btn collapse-btn" ng-init="collapseSideBar = true" ng-click="hideItems();">
            <i ng-if="!thisHide" class="ri-arrow-left-s-line"></i>
            <i ng-if="thisHide" class="ri-arrow-right-s-line"></i>
        </button> -->
        <div class="switch-wrapper tooltip-container">
            <input type="checkbox" id="check" class="toggle" ng-click="toggleMode()" ng-model="darkModeBool">
                <label for="check" class="label">
                    <i class="ri-sun-line sun"></i>
                    <!-- <img src="https://iili.io/S04awl.png" alt="" class="sun">  -->
                    <i class="ri-moon-line"></i>
                    <div class="circle"></div>
            </label>
            <!-- <span ng-show="shohSwitchTooltip" class="tooltip-box-switch" ng-mouseleave="shohSwitchTooltip = false; ">
                Nueva funcionalidad!<br>
                Cambia entre Light and Dark Theme!
            </span> -->
        </div>
        
        
    </div>
    
    <!-- <div class="lexart-user" ng-class="{'active': userToolsActive == true , 'lexart-menu__collapsed': thisHide == true}" ng-show="!thisHide">
        <div>
            
            <img class="lexart-user__pic" src="/assets/images/catalogos/usuarios.svg" alt="{{ userName }}" title="{{ userName }}" />
            <div class="lexart-user__tools">
                
                <div class="lexart-user__toggle" ng-click="toggleActive()" ng-show="!thisHide">
                    <div class="lexart-user__name">{{ userName }}</div>
                    <div class="lexart-user__profile">{{ userRole }}</div>
                </div>
                <div class="lexart-user__options">

                    <button class="lexart-user__options-btn" ng-click="logout()">
                        <i class="lexart-icon lexart-icon--close-session"></i>
                        <span ng-show="!thisHide">{{ 'navigation.logout' | translate }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</div>
