<table class="lexart-table">
    <thead>
        <tr>
            <th>{{ 'payment_requests.form_accordion.id_table_header' | translate  }}</th>
            <th>{{ 'payment_requests.form_accordion.concept_table_header' | translate  }}</th>
            <th>{{ 'payment_requests.form_accordion.amount_table_header' | translate  }}</th>
            <th>{{ 'payment_requests.form_accordion.observation_table_header' | translate  }}</th>
            <th ng-if="showActions" style="width: 100px;">{{ 'payment_requests.form_accordion.actions_table_header' | translate  }}</th>
        </tr>
    </thead>
    <tbody>
        {{ $ctrl.detailsToShow }}
        <tr ng-repeat="paymentRequest in detailsToShow">
            <td>{{paymentRequest.id}}</td>
            <td>{{conceptTexts[paymentRequest.concept]}}</td>
            <td>{{paymentRequest.amount.toFixed(2)}}</td>
            <td>{{paymentRequest.concept_description}}</td>
            <td ng-if="showActions" class="lexart-table__action-cell">
                <i 
                    class="ri-close-line lexart-remove-button" 
                    ng-click="removePaymentRequestFromList(paymentRequest.id)">
                </i>
            </td>
        </tr>
    </tbody>
    <tfoot ng-if="showFooter">
        <tr>
            <th colspan="{{ showActions ? 4 : 3 }}">{{ 'payment_requests.form_accordion.total_table_footer' | translate  }}</th>
            <td colspan="1">{{ totalAmount.toFixed(2) }}</td>
        </tr>
    </tfoot>
</table>