<div class="lexart-wa__hdr lexart-flex" style="margin-top: 0px !important">
	<div class="lexart-flex-5">
		<h1 class="lexart-wa__tit">
			<a class="lexart-bc-item">{{ 'payment_requests.title' | translate }}</a>
		</h1>
	</div>
</div>
<details>
    <summary>
        <span class="summary-title">{{ 'payment_requests.form_accordion.title' | translate }}</span>
        <div class="summary-chevron-up">
            <i class="ri-arrow-right-s-line feather feather-chevron-down"></i>
        </div>
    </summary>
    <div class="lexart-wa__cnt summary-content">
        <form class="lexart-frm" ng-submit="addPaymentRequest()">
            <div class="lexart-frm__fld">
                <label class="lexart-frm__lbl" for="concept-select">
                    <span class="lexart-frm__lbl-name">
                        <b>{{ 'payment_requests.form_accordion.concept_input.label' | translate }}</b>
                    </span>
                    <ui-select
                        id="concept-select"
                        ng-model="paymentRequest.concept"
                        class="lexart-select lexart-select--input"
                        theme="selectize"
                        append-to-body="true"
                        ng-change="changeConcept($select.selected)"
                    >
                        <ui-select-match 
                            placeholder="{{ 'payment_requests.form_accordion.concept_input.placeholder' | translate }}"
                        >
                            {{conceptTexts[$select.selected]}}
                        </ui-select-match>
                        <ui-select-choices repeat="concept in concepts | filter: $select.search">
                            <div ng-bind-html="conceptTexts[concept] | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </label>
            </div>
            <div class="lexart-frm__fld">
                <label class="lexart-frm__lbl" for="amount-input">
                    <span class="lexart-frm__lbl-name">
                        <b>{{ 'payment_requests.form_accordion.amount_input.label' | translate }}</b>
                    </span>
                    <input 
                        type="number"
                        step="0.01"
                        id="amount-input"
                        ng-model="paymentRequest.amount"
                        placeholder="{{ 'payment_requests.form_accordion.amount_input.placeholder' | translate }}"
                        ng-disabled="isAmountInputDisabled"
                    >
                </label>
            </div>
            <div class="lexart-frm__fld">
                <label class="lexart-frm__lbl" for="concept_description-input">
                    <span class="lexart-frm__lbl-name">
                        <b>{{ 'payment_requests.form_accordion.concept_description_input.label' | translate }}</b>
                    </span>
                    <textarea 
                        id="concept_description-input"
                        padding="true"
                        rows="4"
                        ng-model="paymentRequest.concept_description"
                        placeholder="{{ 'payment_requests.form_accordion.concept_description_input.placeholder' | translate }}"
                    ></textarea>
                </label>
            </div>

            <div class="lexart-frm__fld">
                <button class="lexart-btn lexart-btn--darkest lexart-btn__right" type="submit" style="margin-right: 0;">
                    {{ 'payment_requests.form_accordion.add_concept_button_text' | translate }}
                </button>
            </div>
        </form>
    </div>
    <div class="lexart-wa__cnt summary-content">
        <header>
            <h1><b>{{ 'payment_requests.form_accordion.request_table_title' | translate }}</b></h1>
            <p>{{ 'payment_requests.form_accordion.request_table_subtitle' | translate }}</p>
        </header>
        <aside style="padding: 1rem 0; display: flex; justify-content: flex-end;">
            <button class="lexart-btn lexart-btn--darkest" type="button" style="margin-right: 0;" ng-click="savePaymentRequest()">
                {{ 'payment_requests.form_accordion.save_request_button_text' | translate }}
            </button>
        </aside>
        <main>
            <payment-request-details-table 
                details-to-show="paymentRequestDetails" 
                concept-texts="conceptTexts"
                total-amount="paymentRequestDetailsTotalAmount"
                show-actions="true"
                show-footer="true"
            >
            </payment-request-details-table>
        </main>
    </div>
</details>
<details style="margin-top: 1rem;">
    <summary>
        <span class="summary-title">{{ 'payment_requests.history_accordion.title' | translate }}</span>
        <div class="summary-chevron-up">
            <i class="ri-arrow-right-s-line feather feather-chevron-down"></i>
        </div>
    </summary>
    <div class="lexart-wa__cnt summary-content">
        <table class="lexart-table">
            <thead>
                <tr>
                    <th>{{ 'payment_requests.history_accordion.id_table_header' | translate  }}</th>
                    <th>{{ 'payment_requests.history_accordion.date_table_header' | translate  }}</th>
                    <th>{{ 'payment_requests.history_accordion.currency_table_header' | translate  }}</th>
                    <th>{{ 'payment_requests.history_accordion.total_table_header' | translate  }}</th>
                    <th>{{ 'payment_requests.history_accordion.status_table_header' | translate  }}</th>
                    <th style="width: 100px;">{{ 'payment_requests.history_accordion.actions_table_header' | translate  }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="paymentRequest in paymentRequests">
                    <td>{{paymentRequest.id}}</td>
                    <td>{{paymentRequest.created_at}}</td>
                    <td>{{paymentRequest.currency}}</td>
                    <td>{{paymentRequest.amount}}</td>
                    <td>{{statusTexts[paymentRequest.status]}}</td>
                    <td class="lexart-table__action-cell">
                        <i 
                            class="ri-information-fill"
                            ng-click="showPaymentRequestDetailsDialog($index)">
                        </i>
                        <i 
                            ng-if="paymentRequest.status == 'Pending'"
                            class="ri-close-line lexart-remove-button"
                            ng-click="showCancelPaymentRequestDialog(paymentRequest.id)">
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</details>
