<div class="imm-wa__hdr imm-flex">
  <div class="imm-flex-5">
    <h1 class="imm-wa__tit">
      <a class="imm-bc-item">{{ 'bills.title' | translate }}</a>
    </h1>
    <div class="imm-btn__right">
      <a ui-sref="app.billNew" class="imm-btn imm-btn--round">&#43; {{ 'bills.bill' | translate }}</a>
    </div>
  </div>
</div>

<div class="imm-wa__cnt">
  <table>
    <thead>
      <tr>
        <th>{{ 'bills.id' | translate }}</th>
        <th>{{ 'bills.name' | translate }}</th>
        <th>{{ 'bills.concept' | translate }}</th>
        <th>{{ 'bills.price' | translate }}</th>
        <th>{{ 'bills.date' | translate }}</th>

        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input class="field-filter" ng-model="filter.id"></td>
        <td><input class="field-filter" ng-model="filter.name"></td>
        <td><input class="field-filter" ng-model="filter.concept"></td>
        <td><input class="field-filter" ng-model="filter.branchOffice"></td>
        <td><input class="field-filter" ng-model="filter.type"></td>
        <!-- <td><input class="field-filter" ng-model="filter.currency"></td> -->


        <td></td>
      </tr>
      <tr ng-repeat="bill in bills| filter: filter">
        <td>{{bill.id}}</td>
        <td>{{bill.name}}</td>
        <td>{{bill.concept}}</td>
        <td>{{bill.price}}</td>
        <td>{{bill.date}}</td>
        <!-- <td>{{bill.currency}}</td> -->


        <td>
          <a ui-sref="app.billEdit({id: bill.id})">
            <img src="assets/images/icons/pencil-ico.svg">
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<!-- End Bar Graph -->
