<div class="imm-wa__hdr imm-flex">
  <div class="imm-flex-5">
    <h1 class="imm-wa__tit">
      <a class="imm-bc-item">{{ 'products.title' | translate }}</a>
    </h1>
    <div class="imm-btn__right">
      <a ui-sref="app.productNew" class="imm-btn imm-btn--round">&#43; {{ 'products.product' | translate }}</a>
    </div>
  </div>
</div>

<div class="imm-wa__cnt">
  <table>
    <thead>
      <tr>
        <th>{{ 'products.id' | translate }}</th>
        <th>{{ 'products.name' | translate }}</th>
        <th>{{ 'products.type' | translate }}</th>
        <th>{{ 'products.status' | translate }}</th>
        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input class="field-filter" ng-model="filter.id"></td>
        <td><input class="field-filter" ng-model="filter.name"></td>
        <td><input class="field-filter" ng-model="filter.type"></td>
        <td><input class="field-filter" ng-model="filter.statuss"></td>

        <td></td>
      </tr>
      <tr ng-repeat="product in products| filter: filter">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>{{product.status}}</td>


        <td>
          <a ui-sref="app.productEdit({id: product.id})">
            <i class="ri-edit-line"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<!-- End Bar Graph -->
