<div class="imm-wa__hdr imm-flex">
  <div class="imm-flex-5">
    <h1 class="imm-wa__tit">
      <a class="imm-bc-item" ui-sref="app.products">{{ 'products.title' | translate }}</a>
    </h1>
    <div class="imm-bc">
      <a class="imm-bc-item">{{ 'products.title' | translate }}</a>
    </div>
    <div class="imm-bc" ng-if="product.name">
      <span class="imm-bc-item imm-bc--head">{{product.name}}</span>
    </div>
  </div>
</div>

<div class="imm-wa__cnt">


  <form class="imm-frm imm-frm--center">

    <div class="imm-frm__fldgrp">
      <div class="imm-frm__fld" ng-if="product.id">
        <label class="imm-frm__lbl">
          <input type="text" ng-value="product.id" readonly/>
          <b class="imm-frm__lbl-name">{{ 'ID' }}</b>
        </label>
      </div>

      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">
          <b class="imm-frm__lbl-name">{{ 'products.name' | translate }} <span class="required">*</span></b>
          <input type="text" ng-model="product.name" />
        </label>
      </div>

      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">

          <b class="imm-frm__lbl-name">{{ 'products.type' | translate }} <span class="required">*</span></b>
          <select class="" ng-model="product.type">
            <option>Servidor virtual</option>
            <option>Hosting</option>
            <option>Dominio</option>
            <option>Administracion productos externos</option>
            <option>Extra</option>
          </select>
        </label>
      </div>


    </div>


    <div ng-show="product.type=='Servidor virtual'">

      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.cpu" />
            <b class="imm-frm__lbl-name">{{ 'products.cpu' | translate }} <span class="required">*</span></b>
          </label>
        </div>

        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.hdd" />
            <b class="imm-frm__lbl-name">{{ 'products.hdd' | translate }} <span class="required">*</span></b>
          </label>
        </div>

      </div>


      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.memory" />
            <b class="imm-frm__lbl-name">{{ 'products.memory' | translate }} <span class="required">*</span></b>
          </label>
        </div>

        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.transfer" />
            <b class="imm-frm__lbl-name">{{ 'products.transfer' | translate }} <span class="required">*</span></b>
          </label>
        </div>
      </div>

    </div>


    <div ng-show="product.type=='Hosting'">

      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.diskSpace" />
            <b class="imm-frm__lbl-name">{{ 'products.diskSpace' | translate }} <span class="required">*</span></b>
          </label>
        </div>

        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.transfer" />
            <b class="imm-frm__lbl-name">{{ 'products.transfer' | translate }} <span class="required">*</span></b>
          </label>
        </div>

      </div>


      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="number" ng-model="product.amountEmails"  min="0"/>
            <b class="imm-frm__lbl-name">{{ 'products.amountEmails' | translate }} <span class="required">*</span></b>
          </label>
        </div>

        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="number" ng-model="product.amountDataBase"  min="0"/>
            <b class="imm-frm__lbl-name">{{ 'products.amountDataBase' | translate }} <span class="required">*</span></b>
          </label>
        </div>
      </div>

    </div>



    <div ng-show="product.type=='Dominio'">

      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.domain" />
            <b class="imm-frm__lbl-name">{{ 'products.domain' | translate }} <span class="required">*</span></b>
          </label>
        </div>

        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="date" ng-model="product.expiration" />
            <b class="imm-frm__lbl-name">{{ 'products.expiration' | translate }} <span class="required">*</span></b>
          </label>
        </div>

      </div>


      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.provider"  />
            <b class="imm-frm__lbl-name">{{ 'products.provider' | translate }} <span class="required">*</span></b>
          </label>
        </div>

        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.placeAccommodation"  />
            <b class="imm-frm__lbl-name">{{ 'products.placeAccommodation' | translate }} <span class="required">*</span></b>
          </label>
        </div>
      </div>

    </div>


    <div ng-show="product.type=='Administracion productos externos'">

      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.link" />
            <b class="imm-frm__lbl-name">{{ 'products.link' | translate }} <span class="required">*</span></b>
          </label>
        </div>

        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.ip" />
            <b class="imm-frm__lbl-name">{{ 'products.ip' | translate }} <span class="required">*</span></b>
          </label>
        </div>

        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="product.databaseAccess"  />
            <b class="imm-frm__lbl-name">{{ 'products.databaseAccess' | translate }} <span class="required">*</span></b>
          </label>
        </div>

      </div>




      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld">

          <label class="imm-frm__lbl">
            <b class="imm-frm__lbl-name">{{ 'products.accessData' | translate }} <span class="required">*</span></b>
          </label>

        </div>

      </div>

      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld">
          <label class="imm-frm__lbl">
            <input type="text" ng-model="data.user">

            <b class="imm-frm__lbl-name">{{ 'Usuario' }} <span class="required">*</span></b>
          </label>

        </div>

        <div class="imm-frm__fld">

          <label class="imm-frm__lbl">
            <input type="text" ng-model="data.password">

            <b class="imm-frm__lbl-name">{{ 'Clave' }} <span class="required">*</span></b>
          </label>

        </div>

        <div class="imm-frm__fld">
          <button class="imm-btn" ng-click="agregarAcceso()">{{ 'Agregar' }}</button>
          
        </div>



      </div>
      <div class="imm-frm__fldgrp">
        <table>
          <thead>
            <tr>

              <th>Usuario</th>
              <th>Password</th>
            </tr>

          </thead>
          <tbody>
            <tr ng-repeat="i in access">

              <td>{{i.user}}</td>
              <td>{{i.password}}</td>
            </tr>

          </tbody>

        </table>

      </div>

    </div>

    <div ng-show="product.type=='Extra'">

      <div class="imm-frm__fldgrp">
        <div class="imm-frm__fld" style='margin-top: 20px;'>
          <label class="imm-frm__lbl">
            <textarea ng-model="product.note"></textarea>
            <b class="imm-frm__lbl-name">{{ 'products.note' | translate }} <span class="required">*</span></b>
          </label>
        </div>
      </div>
    </div>

    <div class="imm-frm__fldgrp">
      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">
          <ui-select
              ng-model="product.status"
              class="imm-select imm-select--input"
              theme="selectize"
              append-to-body="true"
              >
              <ui-select-match>
                {{$select.selected}}
              </ui-select-match>
              <ui-select-choices repeat="status in selectStatus">
                <div ng-bind-html="status"></div>
              </ui-select-choices>
            </ui-select>
          <b class="imm-frm__lbl-name">{{ 'products.status' | translate }} <span class="required">*</span></b>
        </label>
      </div>
      <div class="imm-frm__fld">
        <label class="imm-frm__lbl">
          <input type="text" ng-model="product.price" />
          <b class="imm-frm__lbl-name">{{ 'products.price' | translate }} (USD)<span class="required">*</span></b>
        </label>
      </div>


    </div>



  </form>
</div>

<div class="imm-wa__actions">
  <p ng-if="error" class="err-display">{{error}} {{ 'general.cant_be_empty' | translate }}</p>
  <button class="imm-btn imm-btn--alt" ui-sref="app.products">{{ 'products.back' | translate }}</button>
  <button class="imm-btn" ng-disabled="sendingData" ng-click="save()">{{ 'products.save' | translate }}</button>
  <button class="imm-btn" ng-click="deleteModal()" ng-if='$stateParams.id'>{{ 'hosting.delete' | translate }}</button>
</div>
