<div class="lexart-modal lexart-modal--medium">

  	<div class="lexart-modal__header">
    	<h1 class="lexart-modal__title" style="margin-bottom: 1%;">Ver codigo</h1>
	</div>
	<div class="lexart-modal__cnt">
		<div>
			<button ng-click="copyCode(code)" class="nx-btn" style="background-color: steelblue; margin-bottom: 1%;">{{ecode}}</button>

			<textarea id="codes" ng-model="code" style="background-color: #eee; border:none;display: block;padding: 20px; width: 100%; height: 300px;">
			</textarea><br>
		</div>
    </div>
    <div class="lexart-modal__actions">
        <a class="lexart-btn lexart-btn--alt" ng-click="ngDialogData.cancel()">{{ 'shared.modal.cancel' | translate }}</a>
    </div>
</div>

