<div class="imm-modal imm-modal--medium">

  <div class="imm-modal__header">
    <h1 class="imm-modal__title">{{ 'Agreagar Comentario'  }}</h1>
    <a class="imm-modal__close-btn" ng-click="closeThisDialog()">
      <i class="imm-icon imm-icon--modal-close"></i>
    </a>
  </div>

  <div class="imm-modal__cnt">
    <ng-form>
      <form class="imm-frm">
        <div class="imm-frm__fld">
          <div class="imm-frm__fld">
            <label class="imm-frm__lbl">
              <textarea rows="7" cols="50" ng-model="comment.comment" >
              </textarea>
              <b class="imm-frm__lbl-name">{{ 'projects.comments' | translate }} <span class="required">*</span></b>
            </label>
          </div>

        </div>
    </form>
  </ng-form>
</div>

<div class="imm-modal__actions">
  <p class="err-display">{{error}}</p>
  <a class="imm-btn imm-btn--alt" ng-click="ngDialogData.cancel()">{{ 'shared.modal.cancel' | translate }}</a>
  <a class="imm-btn" ng-disabled="sendingData || !task.name" ng-click="ngDialogData.confirm()">{{ 'Agregar Comentario'  }}</a>
</div>
</div>
