<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            <a class="imm-bc-item" ui-sref="app.evaluate">{{ 'evaluate.title' | translate }}</a>
        </h1>
        <div class="imm-bc">
            <a class="imm-bc-item">{{ 'evaluate.user' | translate }}</a>
        </div>
        <div class="imm-bc" ng-if="userEval.name">
            <span class="imm-bc-item imm-bc--head">{{userEval.name}}</span>
        </div>
    </div>
</div>

<div class="imm-wa__cnt">
    <form class="imm-frm imm-frm--center">

        <div class="imm-frm__fldgrp">
            <div class="imm-frm__fld">
                <label class="imm-frm__lbl">
                    <input type="text" ng-model="userEval.name" readonly/>
                    <b class="imm-frm__lbl-name">{{ 'Nombre' }}</b>
                </label>
            </div>     

            <div class="imm-frm__fld">
            <label class="imm-frm__lbl">
                <b class="imm-frm__lbl-name">Tarea</b>
                <ui-select
                ng-model="userEval.value"
                class="imm-select imm-select--input"
                theme="selectize"
                title="Tarea"
                append-to-body="true"
                >
                <ui-select-match>
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices repeat="user.id as user in userTask | filter: $select.search">
                    <div ng-bind-html="user.name | highlight: $select.search"></div>
                </ui-select-choices>
                </ui-select>
            </label>
            </div>   
        </div>
    </form>
    <br><br>
    <div class="imm-wa__cnt">
        <div class="imm-frm__fldgrp">
          <div class="imm-frm__fld">
            <label class="imm-frm__lbl">
              <input type="textarea" ng-model="userEval.evaluacion">
              <b class="imm-frm__lbl-name">Evaluación:</b>
            </label>
          </div>

          <div class="imm-frm__fld">
            <label class="imm-frm__lbl">
              <input type="number" ng-model="userEval.puntaje"/>
              <b class="imm-frm__lbl-name">Puntaje:<span class="required">*</span></b>
            </label>
          </div>

          <div class="imm-frm__fld">
            <label class="imm-frm__lbl">
              <input moment-picker ng-model="userEval.fecha"/>
              <b class="imm-frm__lbl-name">fecha:<span class="required">*</span></b>
            </label>
          </div>
    </div>
    <br><br>
    <div class="imm-wa__cnt">
    <div class="imm-flex">
    <div class='flex-table'>
        <div class='flex-head'>
            <div class="flex-item">ID Usuario</div>
            <div class="flex-item">Evaluación</div>
            <div class="flex-item">Puntaje</div>
            <div class="flex-item">Fecha</div>
            <div class="flex-item">Evaluador</div>
            <div style="flex: 5%;width: 5%;"></div>
        </div>
        <div ng-repeat="eval in evaluacion track by $index" class='flex-column-wrap' id="datatable">
            <div class='flex-row'>
                <div class="flex-item">{{eval.idUser}}</div>
                <div class="flex-item">{{eval.evaluacion}}</div>
                <div class="flex-item">{{eval.puntaje | truncateTail:true:20:'...'}}</div>
                <div class="flex-item">{{eval.dia}}/{{eval.mes}}/{{eval.year}}</div>
                <div class="flex-item">{{eval.admin}}</div>
                <div style="flex: 5%;width: 5%;" ng-if="userRole != 'developer'">
                    <a href="" ng-click="evalEdit(eval)">
                        <i class="ri-edit-line"></i>
                    </a>
                </div>
            </div>
        </div>
         </div>
</div>
</div>
<div class="imm-wa__actions">
    <p ng-if="error" class="err-display">{{error}} {{ 'general.cant_be_empty' | translate }}</p>
    <button class="imm-btn imm-btn--alt" ui-sref="app.evaluate">{{ 'clients.back' | translate }}</button>
    <button class="imm-btn" ng-disabled="sendingData" ng-click="save(userEval)" ui-sref="app.evaluate">{{ 'clients.save' | translate }}</button>
</div>