<div class="imm-wa__hdr imm-flex">
    <div class="imm-flex-5">
        <h1 class="imm-wa__tit">
            <a class="imm-bc-item" ui-sref="app.users">Usuarios a evaluar</a>
        </h1>
        <div class="imm-btn__right">
            <a ui-sref="app.userNew" class="imm-btn imm-btn--round">&#43; {{ 'users.user' | translate }}</a>
        </div>
    </div>
</div>
<div class="imm-wa__cnt">
    <table>
        <thead>
            <tr>
                <th>{{ 'users.id' | translate }}</th>
                <th>{{ 'users.name' | translate }}</th>
                <th>{{ 'users.email' | translate }}</th>
                <th>{{ 'users.role' | translate }}</th>
                <th class="imm-cstm__grid-5"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="field-filter" ng-model="filter.id"></td>
                <td><input class="field-filter" ng-model="filter.name"></td>
                <td><input class="field-filter" ng-model="filter.email"></td>
                <td><input class="field-filter" ng-model="filter.role"></td>
                <td></td>
            </tr>
            <tr ng-repeat="user in developers | filter: filter">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>
                    <a ui-sref="app.evaluateForm({id: user.id})">
                        <img src="assets/images/icons/pencil-ico.svg">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<paging
    ng-show="total>pageSize"
    page="currentPage"
    page-size="pageSize"
    total="total"
    hide-if-empty="true"
    show-prev-next="true"
    show-first-last="true"
    paging-action="pager(page)">
</paging>