<div class="imm-wa__hdr imm-flex">
  <div class="imm-flex-5">
    <h1 class="imm-wa__tit">
      <a class="imm-bc-item">{{ 'banks.title' | translate }}</a>
    </h1>
    <div class="imm-btn__right">
      <a ui-sref="app.bankNew" class="imm-btn imm-btn--round">&#43; {{ 'banks.bank' | translate }}</a>
    </div>
  </div>
</div>

<div class="imm-wa__cnt">
  <table>
    <thead>
      <tr>
        <th>{{ 'banks.id' | translate }}</th>
        <th>{{ 'banks.holder' | translate }}</th>
        <th>{{ 'banks.name' | translate }}</th>
        <th>{{ 'banks.account' | translate }}</th>
        <th>{{ 'banks.branchOffice' | translate }}</th>
        <th>{{ 'banks.type' | translate }}</th>
        <th>{{ 'banks.currency' | translate }}</th>

        <th class="imm-cstm__grid-5"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input class="field-filter" ng-model="filter.id"></td>
        <td><input class="field-filter" ng-model="filter.holder"></td>
        <td><input class="field-filter" ng-model="filter.name"></td>
        <td><input class="field-filter" ng-model="filter.account"></td>
        <td><input class="field-filter" ng-model="filter.branchOffice"></td>
        <td><input class="field-filter" ng-model="filter.type"></td>
        <td><input class="field-filter" ng-model="filter.currency"></td>


        <td></td>
      </tr>
      <tr ng-repeat="bank in banks| filter: filter">
        <td>{{bank.id}}</td>
        <td>{{bank.holder}}</td>
        <td>{{bank.name}}</td>
        <td>{{bank.account}}</td>
        <td>{{bank.branchOffice}}</td>
        <td>{{bank.type}}</td>
        <td>{{bank.currency}}</td>


        <td>
          <a ui-sref="app.bankEdit({id: bank.id})">
            <img src="assets/images/icons/pencil-ico.svg">
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<!-- End Bar Graph -->
